<div id="articlelist">
    <div class="heading">
        <h2>{{courseName}}</h2>
        <div *ngIf="progress">
            <b>Progress: </b>{{progress}} %
        </div>
        <div *ngIf="!signedIn">
            You can <a (click)="openLoginPrompt()" style="color: royalblue; cursor: pointer;">sign in</a> and track your
            progress!
        </div>

    </div>
    <!-- <mat-tab-group animationDuration="0ms" color="warn" backgroundColor="">
        <mat-tab label="Table of Content">

        </mat-tab>
        <mat-tab label="Notes">
            <app-feedback></app-feedback>
        </mat-tab>
      </mat-tab-group> -->
    <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress"></mat-progress-bar>
    <mat-accordion color="primary">
        <mat-expansion-panel *ngFor="let section of sections; let i = index" [expanded]="section.active"
            (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-progress-bar *ngIf="progress" mode="determinate" [value]="section.progress"></mat-progress-bar>
            <mat-expansion-panel-header [ngClass]="{'active' : section.active}">
                <mat-panel-title [ngClass]="{'active' : section.active}">

                    <b>
                        <div *ngIf="!section.doneAll || !progress"
                            style="margin-right: 10px; padding: 3px 10px; border: 3px solid lightgray; border-radius: 20px;display: inline-block;">
                            {{i+1}}
                        </div>
                        <div *ngIf="section.doneAll && progress"
                            style="margin-right: 10px; padding: 3px 10px; border: 3px solid green; border-radius: 20px;display: inline-block;">
                            {{i+1}}
                        </div>
                        {{section.label}}
                    </b>

                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let article of section.articles; let j = index">
                <div (click)="navigate(article.id)" class="uf-article">
                    <div class="d-inline" *ngIf="!article.viewed">
                        <mat-icon style="vertical-align: middle;" matSuffix>
                            panorama_fish_eye
                        </mat-icon>

                    </div>
                    <div class="d-inline" *ngIf="article.viewed">
                        <mat-icon style="vertical-align: middle; color: green" matSuffix>
                            done</mat-icon>
                    </div>
                    <div class="d-inline" [ngClass]="{'active' : article.active}">
                        {{article.title}}
                    </div>

                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>