<div id="articlelist">
    <!-- Yo maan -->
    <mat-accordion>
        <mat-expansion-panel *ngFor="let section of sections; let i = index" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                <span style="padding-right: 10px;">{{i+1}}.</span>   {{section.label}}
                </mat-panel-title>
                <!-- <mat-panel-description> -->
                <!-- Introduction to the course -->
                <!-- </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div *ngFor="let article of section.articles">
                <p (click)="navigate(article.id)">
                    {{article.title}}
                </p>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<!-- <p>article-list works!</p> -->