<mat-progress-bar mode="determinate" value="100" color="accent"></mat-progress-bar>

<div class="flex-wrapper">
    <div class="container">
        <div class="row uf-border">
            <div class="col-md-4 uf-border" style="padding:20px">
                
                <br>
                <div
                    style="width:160px; height:160px;margin:auto; border-radius:130px; border: 2px solid #3f51b5; padding:3px;">

                    <div *ngIf="image" [ngStyle]="{background: 'url('+image+')'}" 
                        style="width: 150px; height: 150px; margin:auto; border-radius:75px; background-size: 100% 100%;">
                    </div>
                    <div *ngIf="!image" [ngStyle]="{background: 'url('+image+')'}"
                        style="background-color: #8dbcaa; color: white;text-align:center; font-size: 45px; padding-top:40px; width: 150px; height: 150px; margin:auto; border-radius:130px; background-size: 100% 100%;">
                        {{display_name}}
                        <!-- <mat-spinner *ngIf="imageUploading" style="margin-top:20px !important;margin: auto;"></mat-spinner> -->
                    </div>
                </div>
                <div style="text-align: center;">
                    <br>
                    <h3>{{name}}</h3>
                    <div style="padding-bottom: 20px;" *ngIf='response?.author'>
                        Roles:
                        <span style="color: #3c869a;" #tooltip="matTooltip"
                            matTooltip="Author has the priviledge to add article to existing paths">
                            Author
                        </span>
                        <span style="color: #3c869a;" #tooltip="matTooltip"
                            matTooltip="Moderator has all the priviledge of author, and can also create branches and courses"
                            *ngIf="response.moderator">
                            & Moderator
                        </span>
                    </div>
                </div>
                <div style="color: #293e40; padding-bottom: 20px; text-align: center;">
                    <a target="_blank" href="{{response?.user.facebook_profile_link}}"
                        *ngIf="response?.user.facebook_profile_link" class="uf-social">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="{{response?.user.instagram_profile_link}}" class="uf-social"
                        *ngIf="response?.user.instagram_profile_link">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="{{response?.user.linkedin_profile}}" class="uf-social"
                        *ngIf="response?.user.linkedin_profile">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="{{response?.user.twitter_profile_link}}" class="uf-social"
                        *ngIf="response?.user.twitter_profile_link">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="{{response?.user.external_website_link}}" class="uf-social"
                        *ngIf="response?.user.external_website_link">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                    </a>
                </div>

            </div>
            <div class="col-md-8">
                <br><br>
                <p style="font-weight: 300;"> {{about}}</p>
                <app-authored-articles></app-authored-articles>
            </div>
        </div>
    </div>
</div>