<!-- Feedback for: {{article_from_modal.name}} -->
<div *ngIf="!feedbackReceived">
    <mat-progress-bar *ngIf="disableButton" mode="indeterminate"></mat-progress-bar>
    <mat-icon mat-button style="float: right; margin:-20px;" color="warn" mat-dialog-close matSuffix>
        close
    </mat-icon>


    <form (ngSubmit)=save() [formGroup]="feedbackForm">
        <b> Feedback</b>
        <br>
        <br>

        <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Tell us about this specific page?</mat-label>
            <textarea rows="10" cols="100" matInput formControlName="feedback"></textarea>
        </mat-form-field>
        <br>
        <!-- We will try to get back to you with this feedback! -->
        <!-- <br> -->
        <br>
        <div>
            <!-- <button style="float: right;" mat-button color="primary" type="submit"
                [disabled]='!feedbackForm.valid || disableButton '> -->
                <button style="float: right; color: white; background-color: #39866e;" mat-raised-button type="submit"
                [disabled]='!feedbackForm.valid || disableButton '>

                Send Feedback
                <!-- <mat-icon matSuffix>send</mat-icon> -->
            </button>
        </div>
        
    </form>
</div>

<div *ngIf="feedbackReceived" style="text-align: center;">
    <mat-icon matSuffix style="color: green;font-size: 100px;height: 100px;width: 100px; text-align: center;">feedback
    </mat-icon>
    <br>
    Your feedback is very much appreciated!
</div>