<!-- Feedback for: {{article_from_modal.name}} -->
<div *ngIf="!feedbackReceived">
    <mat-progress-bar *ngIf="disableButton" mode="indeterminate"></mat-progress-bar>
    <mat-icon mat-button style="float: right; margin:-20px;" color="warn" mat-dialog-close matSuffix>
        close
    </mat-icon>


    <form (ngSubmit)=save() [formGroup]="feedbackForm">
        <!-- Feedback -->

        <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Feedback:</mat-label>
            <textarea rows="10" matInput formControlName="feedback"></textarea>
        </mat-form-field>
        <br>
        <div>
            <button style="float: right;" mat-button color="primary" type="submit"
                [disabled]='!feedbackForm.valid || disableButton '>
                <mat-icon matSuffix>send</mat-icon>
            </button>
        </div>
    </form>
</div>

<div *ngIf="feedbackReceived" style="text-align: center;">
    <mat-icon matSuffix style="color: green;font-size: 100px;height: 100px;width: 100px; text-align: center;">feedback
    </mat-icon>
    <br>
    Your feedback is very much appreciated!
</div>