<mat-progress-bar mode="determinate" value="100" color="accent"></mat-progress-bar>
<div class="flex-wrapper">
    <div id="uf_user_profile">
        <div class="container uf-border" *ngIf="isLoading" id="uf_user_profile_ghost" style="margin-top: 20px;">
            <div class="row uf-border">
                <div class="col-md-4 uf-border" style="padding:20px">
                    <div style="width: 150px; height: 150px; margin:auto;; border-radius:100px; background-size: 100% 100%; background-color: lightgray;"
                        class="uf-border ghost">
                    </div>
                    <div style="width: 200px; height: 40px; margin:auto;margin-top: 20px; padding-left:40px;"
                        class="uf-border">

                        <button mat-raised-button class="ghost">Upload Picture</button>
                    </div>
                </div>
                <div class="col-md-8 uf-border" style="padding: 20px;">
                    <h3 class="ghost" style="width: 240px; height: 1.5em">{{name}}</h3>
                    <p style="height:1em; width: 200px;" class="ghost"></p>
                    <p style="height:1em; margin-bottom: 0.5em;" class="ghost"></p>
                    <p style="height:1em; margin-bottom: 0.5em;" class="ghost"></p>
                    <p style="height:1em; margin-bottom: 0.5em;" class="ghost"></p>
                    <p style="height:1em; margin-bottom: 0.5em;" class="ghost"></p>
                    <p style="height:1em; margin-bottom: 0.5em; " class="ghost"></p>
                    <p style="height:1em; width: 200px;" class="ghost"></p>

                </div>
                <div class="col-md-12 uf-border" style="height: 40px">
                    <div style="float: right;">
                        <button mat-raised-button color="warn" class="ghost" (click)="deleteUser()">Delete
                            account</button>
                    </div>

                </div>
            </div>
        </div>



        <div class="container uf-border" *ngIf="!isLoading" style="margin-top: 20px;">

            <div class="row uf-border">
                <div class="col-md-4 uf-border" style="padding:20px">
                    <div
                        style="width:160px; height:160px;margin:auto; border-radius:100px; border: 2px solid #3f51b5; padding:3px;">

                        <div *ngIf="image" [ngStyle]="{background: 'url('+image+')'}"
                            style="width: 150px; height: 150px; margin:auto; border-radius:100px; background-size: 100% 100%;"
                            class="border">
                            <mat-spinner *ngIf="imageUploading" style="margin-top:20px !important;margin: auto;">
                            </mat-spinner>
                        </div>
                        <div *ngIf="!image" [ngStyle]="{background: 'url('+image+')'}"
                            style="background-color: #8dbcaa; color: white;text-align:center; font-size: 45px; padding-top:40px; width: 150px; height: 150px; margin:auto; border-radius:100px; background-size: 100% 100%;"
                            class="border">
                            {{display_name}}
                            <!-- <mat-spinner *ngIf="imageUploading" style="margin-top:20px !important;margin: auto;"></mat-spinner> -->
                        </div>
                    </div>


                    <div style="width: 200px; height: 40px; margin:auto;margin-top: 20px; padding-left:40px;"
                        class="uf-border">
                        <button mat-raised-button class="primary-button-inverted">
                            <label for="file-upload" class="custom-file-upload">
                                {{buttonText}}
                            </label>
                            <input id="file-upload" accept="image/png, image/jpeg" (change)="onImageChange($event)"
                                type="file" />
                            <!-- <input type="file" class="uf-file-upload" (change)="onImageChange($event)"> -->
                        </button>
                    </div>
                </div>
                <div class="col-md-8 uf-border" style="padding: 20px;">
                    <h3>{{name}}<mat-icon aria-hidden="false" style="padding-left: 20px; cursor: pointer;"
                            (click)="editUser()" aria-label="Edit user details">edit</mat-icon>
                    </h3>
                    <p>({{email}})</p>
                    <div style="padding-bottom: 20px;" *ngIf='response.author'>
                        Roles:
                        <span style="color: #3c869a;" #tooltip="matTooltip"
                            matTooltip="Author has the priviledge to add article to existing paths">
                            Author
                        </span>
                        <span style="color: #3c869a;" #tooltip="matTooltip"
                            matTooltip="Moderator has all the priviledge of author, and can also create branches and courses"
                            *ngIf="response.moderator">
                            & Moderator
                        </span>
                    </div>

                    <div style="color: #293e40; padding-bottom: 20px;">
                        <a target="_blank" href="{{response.user.facebook_profile_link}}"
                            *ngIf="response.user.facebook_profile_link" class="uf-social">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a target="_blank" href="{{response.user.instagram_profile_link}}" class="uf-social"
                            *ngIf="response.user.instagram_profile_link">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a target="_blank" href="{{response.user.linkedin_profile}}" class="uf-social"
                            *ngIf="response.user.linkedin_profile">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a target="_blank" href="{{response.user.twitter_profile_link}}" class="uf-social"
                            *ngIf="response.user.twitter_profile_link">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a target="_blank" href="{{response.user.external_website_link}}" class="uf-social"
                            *ngIf="response.user.external_website_link">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </a>
                    </div>
                    <p style="font-weight: 200;"> {{about}}</p>
                </div>
            </div>
            <hr>
            <div>
                <h3 style="color: #8dbcaa; margin: auto; text-align: center;">
                    User Services
                </h3> <br>

                <div class="row">
                    <div class="col-md-6">
                        <mat-card class="st-border m-10">
                            <mat-card-header>
                                <mat-card-title >
                                    <a routerLink="/support/feature_request" style="color:#1F8476">
                                        Reset Password
                                    </a>
                                </mat-card-title>
                                <mat-card-subtitle class="desc-text">
                                    Reset the password for logging in to your account
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-actions align="end">
                                <button mat-button class="primary-button"
                                    routerLink="/support/reset_password">Reset</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-md-6" *ngIf="!response.author">
                        <mat-card class="st-border m-10">
                            <mat-card-header>
                                <mat-card-title style="color:#1F8476">Become an author</mat-card-title>
                                <mat-card-subtitle class="desc-text">
                                    Authors can publish articles to the already existing paths, clicking on the submit
                                    button will grant you the role of author instantly!
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-actions align="end">
                                <button mat-button class="primary-button" (click)='makeAuthor()'>Submit</button>
                                <!-- <button mat-button>SHARE</button> -->
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-md-6">
                        <mat-card class="st-border m-10">
                            <mat-card-header>
                                <mat-card-title >
                                    <a routerLink="/support/report_defect" style="color:#1F8476">
                                    Report a defect
                                    </a>
                                </mat-card-title>
                                <mat-card-subtitle class="desc-text">
                                    Report a defect you see on the website, anything that looks like not working as it
                                    should!
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-actions align="end">
                                <button mat-button class="primary-button"
                                    routerLink="/support/report_defect">Report</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-md-6">
                        <mat-card class="st-border m-10">
                            <mat-card-header>
                                <mat-card-title >
                                    <a routerLink="/support/feature_request" style="color:#1F8476">
                                        Suggest Feature
                                    </a>
                                </mat-card-title>
                                <mat-card-subtitle class="desc-text">
                                    Suggest for a feature that you want in this website!!
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-actions align="end">
                                <button mat-button class="primary-button"
                                    routerLink="/support/feature_request">Suggest</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
                <div style="height: 60px;">
                    <a mat-button class="primary-button-inverted" routerLink="/support" style="float: right;">Go to
                        support page</a>
                </div>
            </div>
            <hr>
            <div class="col-md-12 uf-border" style="height: 40px">
                <div style="float: right;">
                    <button mat-raised-button color="warn" (click)="deleteUser()">Delete account</button>
                </div>
            </div>
        </div>
    </div>
</div>