<div class="container">
    <div class="row">
        <div class="col-md-4">
            Image
        </div>
        <div class="col-md-8">
            Form
        </div>
        <div class="col-md-12">
            About
        </div>
        <div class="col-md-12">
            preferences
        </div>
    </div>
    
</div>


<!-- 

<div class="uf-profile-wrapper" id="uf_user_profile">

    <div class="uf-profile-body">
        <div class="uf-profile-image">

            <div class="uf-image-div">Image Div</div>
            <div class="uf-upload-button">
                <button mat-raised-button color="" (click)="deleteUser()">upload</button>
            </div>

        </div>
        <div class="uf-profile-editable">
            Editable Form
        </div>

    </div>

    <div class="uf-profile-about">
        <div class="uf-profile-about-body">
            About
        </div>
    </div>
    <div class="uf-profile-preferences">
        Preferences
    </div>


</div>


<hr><hr>

<div class="flex-container">
    <div class="flex-item">
        
    </div>

</div> -->