<div *ngIf="isLoading">
    <br><br><br>
    <mat-card *ngFor="let dummy of ' '.repeat(ghostEl).split(''), let x = index"
        style="box-shadow: none;border: 1px solid #eee; padding: none; padding-bottom: 40px; margin-bottom: 20px;">
        <mat-card-header class="ghost" style="height: 1em; margin-bottom: 3px;width: 60%">
        </mat-card-header>

        <div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="stretch"
            style="flex-direction:row !important;height: 100px;">
            <div fxFlex="80%">


                <mat-card-content style="padding-left: 10px;">
                    <p class="uf-heading-wrapper-ghost"></p>

                    <p class="uf-paragraph-wrapper-ghost">
                    </p>
                </mat-card-content>

            </div>
        </div>
        <mat-card-content style="padding-top: 5px;">
            <span style="float: left;" class="footer-card ghost"></span>
            <span style="float: right;" class="footer-card ghost">
            </span>
        </mat-card-content>
    </mat-card>
</div>

<div class="mat-elevation-z8">
    <mat-form-field style="display: inline;">
        <mat-label>Filter the title</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    
    <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let article" style="border: none; padding: 10px;">
                <mat-card style="box-shadow: none;border: 1px solid #eee; padding: none; padding-bottom: 40px;">

                    <div>Branch:</div>

                    <div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="stretch"
                        style="flex-direction:row !important;height: 100px;">
                        <div fxFlex="80%">


                            <mat-card-content style="padding-left: 10px;">
                                <p class="uf-heading-wrapper">{{article.article}}</p>

                                <p class="uf-paragraph-wrapper">
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                                    from
                                    Japan.
                                    Description
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                                    from
                                    Japan.
                                </p>
                            </mat-card-content>

                        </div>
                    </div>
                    <mat-card-content style="padding-top: 5px;">
                        <span style="float: left;">Root:</span>
                        <span style="float: right;">
                            <b>{{article.get_article.author.first_name}}</b>
                            <!-- bookmark yes/no -->
                        </span>
                    </mat-card-content>
                </mat-card>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator style="display: inline;" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
</div>


