<mat-progress-bar *ngIf="reseting" color="warn" mode="indeterminate"></mat-progress-bar>
<mat-progress-bar *ngIf="!reseting" mode="determinate" value="100" color="accent"></mat-progress-bar>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="uf-auth-wrapper" id="auth-passwordresetform">
                <div class="uf-auth-form">
                    <div class="uf-auth-logo-space"></div>
                    <div class="uf-auth-form-header">Reset Password for <b>{{username}}</b></div>
                    <div class="uf-auth-form-body">
                        <div *ngIf="!attempt">
                            <form (ngSubmit)="resetPassword()" [formGroup]='passwordResetForm'>
                                <div formGroupName="passwordGroup">
                                    <mat-form-field appearance="outline" class="uf-auth-input-block">
                                        <mat-label>Password</mat-label>
                                        <input matInput type="password" formControlName="password">
                                        <mat-error>Minimum length required is atleast 8</mat-error>
                                    </mat-form-field>
            
                                    <mat-form-field appearance="outline" class="uf-auth-input-block">
                                        <mat-label>Confirm Password</mat-label>
                                        <input matInput type="password" formControlName="confirm_password">
                                        <mat-error>Minimum length required is atleast 8</mat-error>
                                    </mat-form-field>
                                    <div style="height: 10px">
                                        <span style="font-size: 12px;color: red;padding: 10px;"
                                            *ngIf='passwordResetForm.get("passwordGroup").errors'>Passwords don't match</span>
                                    </div>
            
                                </div>
                                <div class="uf-auth-buttons-div">
                                    <button class="uf-auth-right-button" mat-raised-button color="primary" type="submit"
                                        [title]="passwordResetForm.valid?'login': 'fill the form correctyl'"
                                        [disabled]='!passwordResetForm.valid' *ngIf="reseting">
                                        ......
                                    </button>
                                    <button class="uf-auth-right-button" mat-raised-button color="primary" type="submit"
                                        [title]="passwordResetForm.valid?'login': 'data is ambiguous'"
                                        [disabled]='!passwordResetForm.valid' *ngIf="!reseting">
                                        Reset Password
                                        <mat-icon matSuffix style="margin: 0px 8px;">login</mat-icon>
                                    </button>
                                </div>
                                <br>
                                <!-- <button type="submit" [title]="passwordResetForm.valid?'Register': 'data is ambiguous'"
                                [disabled]='!passwordResetForm.valid'>
                                Reset Password
                            </button> -->
                            </form>
                        </div>
                        <div *ngIf="attempt">
                            <div class="uf-auth-info-block">
                                <mat-icon matSuffix class="uf-auth-icon" [ngStyle]="{'color':reset ? 'green' : 'indianred'}">
                                    {{icon}}
                                </mat-icon>
                                <br>
                                {{message}}
                            </div>
                        </div>
            
                    </div>
                    <br>
                    <div class="uf-auth-form-footer">
                        <div *ngIf="!reset">
                            No account? <a style="text-decoration: none;" color="primary" routerLink="/auth/register">Create one</a>
                        </div>
                        <div *ngIf="reset">
                            <a style="text-decoration: none;" color="primary" routerLink="/auth/">Sign in</a>
                        </div>
                    </div>
                    <br>
                </div>
            
            </div>
            
            <!-- {{passwordResetForm.value | json}} -->

        </div>
        <div class="col-md-7 d-none d-sm-none d-md-block" style="padding-left: 0px; padding-right: 0;">
            
            <app-rightpanel></app-rightpanel>

        </div>
    </div>
</div>
