<br><br><br>
<form (ngSubmit)="resetPassword()" [formGroup]='passwordResetForm'>
    <div formGroupName="passwordGroup">
        <label for="password">Password</label>
        <input type="password" formControlName='password' id="password" placeholder="Password">
        <br>

        <label for="confirm_password">Confirm Password</label>
        <input type="password" formControlName='confirm_password' id="confirm_password" placeholder="Confirm Password">
        <br>
        <span *ngIf='passwordResetForm.get("passwordGroup").errors'>Password doesn't match</span>
    </div>
    <button type="submit" [title]="passwordResetForm.valid?'Register': 'data is ambiguous'"
        [disabled]='!passwordResetForm.valid'>
        Reset Password
    </button>
</form>

{{passwordResetForm.value | json}}