.image_div{
    height: 200px;
    width: 200px;
    background-size: 100% 100%;
    margin: auto;
}

.card_div{
    // text-align: center;
    margin: auto;
    cursor: pointer;
}

.heading_div{
    padding: 50px;
    margin: auto;
}

.products-card{
    text-align: center;
    margin: auto;
}