<mat-progress-bar mode="indeterminate" color="warn" *ngIf="isLoading"></mat-progress-bar>
<br><br>
<div id="uf-roots" class="container">
    <div class="row">
        <div class="col-xs-12">
            <app-breadcrumbs></app-breadcrumbs>
            <br>
        </div>

    </div>
    <div class="row">
        <!-- We'll show th subcate -->
        <div class="col-lg-3 col-md-6 col-sm-6" style="margin-bottom: 10px;" *ngFor="let product of categories">
            <div style="width: max-content;margin: auto;">
                <!-- <mat-card class="products-card" style="box-shadow: none; width: auto; margin: auto;"> -->
                <mat-card class="product-card">
                    <div *ngIf="!product.course" class="card_div"
                        routerLink="/roots/{{product.parent_kb_base}}/{{product.id}}/" matRipple
                        [matRippleColor]="myColor">


                        <div [hidden]="imageLoaded"
                            [ngStyle]="{'background-image': 'url(' + product.compressed_image + ')'}" class="image_div">
                        </div>
                        <div *ngIf="startLoadingImages" [hidden]="!imageLoaded"
                            [ngStyle]="{'background-image': 'url(' + product.real_image + ')'}" class="image_div"></div>

                        <mat-card-content>
                            <p>
                                <b>{{product.label}}</b> <br>
                                <!-- {{product.description}} -->
                            </p>
                            <!-- <mat-button>Start Course</mat-button> -->
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button color="accent">
                                Explore further
                                <mat-icon matSuffix>
                                    account_tree
                                </mat-icon>
                            </button>
                            <!-- <button mat-raised-button color="primary" (click)="seeDetails(product.id)">See Preview</button> -->
                        </mat-card-actions>
                    </div>
                    <div *ngIf="product.course" class="card_div">
                        <div [hidden]="imageLoaded"
                            [ngStyle]="{'background-image': 'url(' + product.compressed_image + ')'}" class="image_div">
                        </div>
                        <div *ngIf="startLoadingImages" [hidden]="!imageLoaded"
                            [ngStyle]="{'background-image': 'url(' + product.real_image + ')'}" class="image_div"></div>

                        <mat-card-content>
                            <p>
                                <b>{{product.label}}</b> <br>
                                <!-- {{product.description}} -->
                            </p>
                            <!-- <mat-button>Start Course</mat-button> -->
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-stroked-button color="accent" (click)="seeDetails(product.id)">
                                Preview
                            </button>
                            <button mat-raised-button color="primary" (click)="navigate(product.id)">
                                Learn
                                <mat-icon matSuffix>
                                    launch
                                </mat-icon>
                            </button><br>
                            <!-- <span (click)="seeDetails(product.id)">Preview</span> -->
                        </mat-card-actions>
                    </div>

                    <!-- <mat-card-actions *ngIf="product.course">
                        
                        <button mat-button>SHARE</button>
                      </mat-card-actions> -->
                </mat-card>
            </div>
        </div>
    </div>
</div>