<!-- <p>authored-articles works!</p> -->

<mat-progress-bar mode="determinate" color="accent" value="100" *ngIf="!isLoading"></mat-progress-bar>
<mat-progress-bar mode="query" color="accent" *ngIf="isLoading"></mat-progress-bar>
<br><br>

<div class="container">
    <div class="row">

        <div class="col-md-4">
            State
            <br> <br>
            <button mat-button (click)="changeState('all')" class="uf-button">
                <mat-icon *ngIf="state=='all'">
                    send
                </mat-icon>
                All

            </button>
            <br>
            <button mat-button (click)="changeState('draft')" class="uf-button">
                <mat-icon *ngIf="state=='draft'">
                    send
                </mat-icon>
                
                Draft
            </button>
            <br>
            <button mat-button (click)="changeState('review')" class="uf-button">
                <mat-icon *ngIf="state=='review'">
                    send
                </mat-icon>
                
                Review
            </button>
            <br>
            <button mat-button (click)='changeState("published")' class="uf-button">
                <mat-icon *ngIf="state=='published'">
                    send
                </mat-icon>
                Published
            </button>
            <br>
        </div>



        <div class="col-md-8">
            <div>
                Sort By:
                <button mat-button style="outline: none;" (click)="changeSort('title')">
                    Title
                    <mat-icon *ngIf="sort_by=='title'">
                        keyboard_arrow_down
                    </mat-icon>
                    <mat-icon *ngIf="sort_by=='-title'">
                        keyboard_arrow_up
                    </mat-icon>
                </button>
                <button mat-button style="outline: none;" (click)="changeSort('sys_created_on')">
                    Created
                    <mat-icon *ngIf="sort_by=='sys_created_on'">
                        keyboard_arrow_down
                    </mat-icon>
                    <mat-icon *ngIf="sort_by=='-sys_created_on'">
                        keyboard_arrow_up
                    </mat-icon>
                </button>
                <button mat-button style="outline: none;" (click)="changeSort('sys_updated_on')">
                    Updated
                    <mat-icon *ngIf="sort_by=='sys_updated_on'">
                        keyboard_arrow_down
                    </mat-icon>
                    <mat-icon *ngIf="sort_by=='-sys_updated_on'">
                        keyboard_arrow_up
                    </mat-icon>
                </button>
            </div>
            <div *ngFor="let article of articles_data?.articles">

                <mat-card style="border: 0px; box-shadow: none;">
                    <!-- <a mat-button style="float: right;">Created: {{article.sys_created_on | datesAgoDate}}</a> -->
                    <mat-card-header>
                        <mat-card-title><a style="color: #293E40;"
                                href="courses/article/{{article.id}}">{{article.title}}</a></mat-card-title>
                        <mat-card-subtitle>Updated: {{article.sys_updated_on | datesAgoDate}}
                            <br>
                            Created: {{article.sys_created_on | datesAgoDate}}
                        </mat-card-subtitle>
                        <!-- <mat-card-subtitle *ngIf="article.workflow=='draft'">
                            The article is in draft mode, please send it for review to be published.
                        </mat-card-subtitle>
                        <mat-card-subtitle *ngIf="article.workflow=='review'">
                            The article is being reviewed, we will send the feedback shortly!! <br>
                            Meanwhile, keep on adding awesome articles on your end
                        </mat-card-subtitle>
                        <mat-card-subtitle *ngIf="article.workflow=='published'">
                            The article is published, if you want you can retire it
                        </mat-card-subtitle> -->
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button style="outline: none;">
                            <mat-icon style="color: red;">
                                delete
                            </mat-icon>
                        </button>

                        <button mat-button style="outline: none; color:#438C9F">
                            <!-- {{article.workflow}} -->
                            Draft
                        </button>
                        <span style="color: #438C9F;">>>>></span>
                        <button *ngIf="article.workflow!='draft'" mat-button style="outline: none;color:#438C9F">
                            <!-- {{article.workflow}} -->

                            Sent for review
                        </button>
                        <button *ngIf="article.workflow=='draft'" disabled mat-button style="outline: none;">
                            <!-- {{article.workflow}} -->
                            Sent for review
                        </button>

                        <span style="color: #438C9F;">>>>></span>

                        <button *ngIf="article.workflow=='published'" mat-button style="outline: none; color: #438C9F">
                            <!-- {{article.workflow}} -->

                            Published
                        </button>
                        <button *ngIf="article.workflow!='published'" disabled mat-button style="outline: none;">
                            <!-- {{article.workflow}} -->

                            Published
                        </button>


                        <!-- <a href="courses/article/{{article.id}}" mat-button style="outline: none;float: right;">
                        <mat-icon>
                            edit
                        </mat-icon>
                    </a> -->
                    </mat-card-actions>
                </mat-card>
                <br>
            </div>
        </div>
    </div>


</div>

<!-- <pre>
{{articles_data | json}}
</pre> -->