<!-- <p>authored-articles works!</p> -->

<mat-progress-bar mode="determinate" color="accent" value="100" *ngIf="!isLoading"></mat-progress-bar>
<mat-progress-bar mode="query" color="accent" *ngIf="isLoading"></mat-progress-bar>
<br>

<div class="container" id="uf-authored-articles">
    <div class="row">
        <h2 style="color: #8dbcaa; margin: auto;">Authored articles</h2>
        <br>    <br>
    </div>
    <div class="row">

        <div class="col-md-3">
            State
            <br> <br>
            <button mat-button class="primary-button uf-button" (click)="changeState('all')">
                <mat-icon *ngIf="state=='all'">
                    send
                </mat-icon>
                All

            </button>
            <br>
            <button mat-button class="primary-button uf-button" (click)="changeState('draft')">
                <mat-icon *ngIf="state=='draft'">
                    send
                </mat-icon>
                
                Draft
            </button>
            <br>
            <button mat-button class="primary-button uf-button" (click)="changeState('review')">
                <mat-icon *ngIf="state=='review'">
                    send
                </mat-icon>
                
                Review
            </button>
            <br>
            <button mat-button class="primary-button uf-button" (click)='changeState("published")'>
                <mat-icon *ngIf="state=='published'">
                    send
                </mat-icon>
                Published
            </button>
            <br>
        </div>



        <div class="col-md-9">
            <div style="text-align: end;">
                Sort By:
                <button mat-button class="primary-button" style="border: none !important;" (click)="changeSort('title')">
                    Title
                    <mat-icon *ngIf="sort_by=='title'">
                        keyboard_arrow_down
                    </mat-icon>
                    <mat-icon *ngIf="sort_by=='-title'">
                        keyboard_arrow_up
                    </mat-icon>
                </button>
                <button mat-button class="primary-button" style="border: none !important;" (click)="changeSort('sys_created_on')">
                    Created
                    <mat-icon *ngIf="sort_by=='sys_created_on'">
                        keyboard_arrow_down
                    </mat-icon>
                    <mat-icon *ngIf="sort_by=='-sys_created_on'">
                        keyboard_arrow_up
                    </mat-icon>
                </button>
                <button mat-button  class="primary-button" style="border: none !important;" (click)="changeSort('sys_updated_on')">
                    Updated
                    <mat-icon *ngIf="sort_by=='sys_updated_on'">
                        keyboard_arrow_down
                    </mat-icon>
                    <mat-icon *ngIf="sort_by=='-sys_updated_on'">
                        keyboard_arrow_up
                    </mat-icon>
                </button>
            </div>
            <br>
            <div *ngFor="let article of articles_data?.articles">

                <mat-card class="st-border">
                    <!-- <a mat-button style="float: right;">Created: {{article.sys_created_on | datesAgoDate}}</a> -->
                    <mat-card-header>
                        <mat-card-title><a style="color: #293E40;"
                                href="courses/article/{{article.id}}">{{article.title}}</a></mat-card-title>
                        <mat-card-subtitle>Updated: {{article.sys_updated_on | datesAgoDate}}
                            <br>
                            Created: {{article.sys_created_on | datesAgoDate}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button style="outline: none;" (click)="deleteArticle(article.id, article.title)">
                            <mat-icon style="color: red;">
                                delete
                            </mat-icon>
                        </button>

                        <button mat-button style="outline: none; color:#438C9F">
                            {{article.workflow}}
                        </button>
                        <!-- <span style="color: #438C9F;">>>>></span>
                        <button *ngIf="article.workflow!='draft'" mat-button style="outline: none;color:#438C9F">

                            Sent for review
                        </button>
                        <button *ngIf="article.workflow=='draft'" disabled mat-button style="outline: none;">
                            Sent for review
                        </button>

                        <span style="color: #438C9F;">>>>></span>

                        <button *ngIf="article.workflow=='published'" mat-button style="outline: none; color: #438C9F">
                            Published
                        </button>
                        <button *ngIf="article.workflow!='published'" disabled mat-button style="outline: none;">
                            Published
                        </button>
 -->

                        <!-- <a href="courses/article/{{article.id}}" mat-button style="outline: none;float: right;">
                        <mat-icon>
                            edit
                        </mat-icon>
                    </a> -->
                    </mat-card-actions>
                </mat-card>
                <br>
            </div>
        </div>
    </div>


</div>

<!-- <pre>
{{articles_data | json}}
</pre> -->