<div id="uf-side-nav">

    <div style="text-align: left;padding: 20px 10px;">
        <button mat-button class="view-button" [routerLink]="[{view: 'course'}]"
            [ngClass]="{'selected' : view=='course'}" [disabled]="!viewChangeValid" (click)="changeView('course')">
            <mat-icon matSuffix>
                apps
            </mat-icon>
        </button>
        <button mat-button class="view-button" [routerLink]="[{view: 'tree'}]" [ngClass]="{'selected' : view=='tree'}"
            (click)="changeView('tree')">
            <mat-icon matSuffix>
                account_tree
            </mat-icon>
        </button>
    </div>

    <div>
        <!-- <mat-tree>

            <mat-tree-node> parent node </mat-tree-node>
            <mat-tree-node> -- child node1 </mat-tree-node>
            <mat-tree-node> -- child node2 </mat-tree-node>
          </mat-tree> -->
        <!-- <pre>

    {{categories | json}}

    </pre> -->
    </div>

</div>