<mat-progress-bar mode="determinate" color="accent" value="100"></mat-progress-bar>
<div class="container-flex" id="st-question" style="background-color: white;" class="st-border">
    <app-browse-by-roots></app-browse-by-roots>
    <br>
</div>
<br><br>
<!-- <pre>
    {{questions | json}}
</pre> -->
<div class="container flex-wrapper">
    <div class="row">
        <div class="col-md-3" *ngIf="!hidesmallscreen">
            <a (click)="askQuestion()"  mat-button class="primary-button-inverted" style="width: 100%; margin-bottom: 15px;">
                Ask
                a question</a>
        </div>
        <div class="col-md-9">
            <div *ngIf="questions?.length==0"></div>
            <div *ngIf="questions?.length>0">
                <div *ngFor="let question of questions">
                    <div class="card">
                        <div class="card-body" style="padding: 10px !important;">
                            <h6 class="card-title" style="font-size: 16px;">
                                <a class="edit-question" routerLink="sq_qa/{{question.id}}/{{question.question_url}}">
                                    {{question.question}}
                                </a>
                            </h6>
                            <div class="card-subtitle mb-2 text-muted" style="font-size: 12px;">
                                <span>
                                    {{question.get_kb_base.label}}
                                </span>
                                <span *ngIf="question?.get_kb_category.label"> •
                                    {{question.get_kb_category?.label}}</span>
                            </div>
                            <span style="font-size: 12px;">
                                Answer count: {{question.answer_count}}
                            </span>
                            <br>
                            <span style="font-size: 12px;">
                                <a class="edit-question" routerLink="/user/{{question?.get_created_by.id}}">
                                    {{question?.get_created_by.name}}
                                </a>
                                asked {{question?.sys_created_on | dateAgoQues}}

                                <span *ngIf="question?.get_updated_by.name">
                                    • updated by 
                                    <a class='edit-question' routerLink='/user/{{question?.get_updated_by.id}}'>
                                        {{question?.get_updated_by.name}}
                                    </a>
                                </span>
                                <span *ngIf="question?.update_count>0">
                                    •  updated {{question?.sys_updated_on | dateAgoQues}}
                                </span>
                                <!-- <span *ngIf="question?.get_created_by>0">
                                    {{question?.sys_updated_on | dateAgoQues}}
                                </span> -->
                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3" *ngIf="hidesmallscreen">
            <a (click)="askQuestion()" mat-button class="primary-button-inverted" style="width: 100%; color: black;">
                Ask a question</a>
        </div>
    </div>
</div>
<br><br>