<mat-progress-bar mode="determinate" value="100" color="accent"></mat-progress-bar>

<div class="wrapper">
    <nav id="sidebar">
        <app-article-list (articleList)="onGettingList($event)"></app-article-list>
    </nav>

    <div id="content" style=" background-color: white; width: 100%;">
        <nav class="navbar navbar-expand-lg navbar-light" *ngIf="mobileQuery.matches">

            <button mat-raised-button color="primary" style="background-color: #4f9aab; color: white;"
                id="sidebarCollapse" (click)="openNav()">
                <mat-icon>{{icon}}</mat-icon> Table of content
            </button>

        </nav>
        <div style="padding: 0px 20px; border-left: 2px solid #ddd;">
            <app-article-detail [list]="well"></app-article-detail>
            <app-kbuse></app-kbuse>
        </div>

    </div>
</div>
