<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="padding: 0px;">
            <app-article-list></app-article-list>
        </div>
        <div class="col-md-9">
            <app-article-detail></app-article-detail>
            
            <app-kbuse></app-kbuse>

            <!-- <app-seecomments></app-seecomments> -->

        </div>
        <!-- <div class="col-md-12">
            You might also like, from same knowledge base

        </div> -->
    </div>
</div>
<app-footer></app-footer>