.uf-course-card{
    box-shadow: none;
    background-color: #f7f7f7;
    margin-bottom: 10px;
    

    &:hover{
        background-color: rgb(235, 235, 235);
        cursor: pointer;
    }
}

.uf-course-header{
    width: fit-content;
    color: white;
    background-color: #72a08d;
    padding: 0px 20px;
    margin-left: -20px;
    // margin: ;
}

.uf-course-title{
    color: #566364
}

a{
    &:hover{
        text-decoration: none;
    }
}
.q-refresh{
    outline: none; 
    color: #72a08d;
    padding-left: 30px;
}

.q-author{
    font-size: 14px;
    text-align: right; 
    color: #2e778e;
}