<br><br><br><br>

Login to Your Account!

<button id="googleBtn">Continue with Google</button>
<form novalidate (ngSubmit)="login()" [formGroup]="loginForm">

    <br><br>
    <br><br>

    <br><br>
    <label for="exampleInputEmail1">Email</label>
    <input type="email" formControlName='email' id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <br>
    <label for="password">Password</label>
    <input type="password" formControlName='password' id="password" placeholder="Password">
    <br><br>
    <button type="submit" [title]="loginForm.valid?'login': 'data is ambiguous'" [disabled]='!loginForm.valid'>
        Login
    </button>



    <br><br><br> or <button routerLink="/auth/passwordreset">Forgot Password</button>

</form>
<br><br><br><br> Don't have an account<button routerLink="/auth/register">Register</button>

<br><br><br><br>
<pre>
Password Touched:   {{loginForm.get('password').touched}} <br>
Email Touched:      {{loginForm.get('email').touched}} <br>
Password Dirty:   {{loginForm.get('password').dirty}} <br>
Email Dirty:      {{loginForm.get('email').dirty}} <br>

Form valid:         {{loginForm.valid}} <br>
Form value:         {{loginForm.value | json}}
</pre>

<br><br><br>