<div id="uf-recently-viewed-course" style="color: #425051">
    <div *ngIf="courses?.length>0">
        <p>Continue down the path</p>
        <div *ngIf="courses">
            <div *ngFor="let course of courses">
                <a routerLink="courses/{{course.course.id}}/">
                    <mat-card class="uf-course-card">
                        <div class="uf-course-header">
                            {{course.course.knowledge_base}}
                        </div>
                        <mat-card-header>
                            <mat-card-title class="uf-course-title">
                                {{course.course.label}}
                            </mat-card-title>

                            <mat-card-subtitle class="uf-course-desc">
                                Progress: {{course.progress}} %
                            </mat-card-subtitle>
                        </mat-card-header>
                        <div style="font-size: 14px;text-align: right; color: #2e778e;">
                            <mat-icon style="font-size: 14px; padding: 0px; margin:0px; height: auto; width: auto;">
                                access_time
                            </mat-icon>
                            {{course.created_on | dateAgo}}
                        </div>
                    </mat-card>
                </a>
            </div>
        </div>
        <!-- <div *ngIf="!courses">
        Start learning about a topic!!
    </div> -->
    </div>
</div>