<mat-progress-bar mode="determinate" value="100" color="accent"></mat-progress-bar>

<div class="flex-wrapper">
    <div class="container">
        <br>
        <h3 style="color: #8dbcaa;">
            Support
        </h3>
        <br>
        <button mat-button routerLink="/welcome" style="color: #1F8476;"> <mat-icon>keyboard_backspace</mat-icon> Back</button>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <mat-card class="st-border m-10">
                    <mat-card-header>
                        <mat-card-title>
                            <a style="color:#1F8476; font-size: 20px; font-weight: 400;"
                                routerLink="support/feature_request">
                                Suggest Enhancement
                            </a>
                        </mat-card-title>
                        <mat-card-subtitle class="desc-text">Please describe the enhancement </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="end">
                        <button (click)="navigate('feature_request')" mat-button class="primary-button">
                            Suggest
                        </button>
                        <!-- <button mat-button>SHARE</button> -->
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <mat-card class="st-border m-10">
                    <mat-card-header>
                        <mat-card-title>
                            <a style="color:#1F8476; font-size: 20px; font-weight: 400;"
                                routerLink="support/report_defect">
                            Report a Defect
                            </a>
                        </mat-card-title>
                        <mat-card-subtitle class="desc-text">Describe a defect </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="end">
                        <button (click)="navigate('report_defect')" mat-button class="primary-button">
                            Report</button>
                        <!-- <button mat-button>SHARE</button> -->
                    </mat-card-actions>
                </mat-card>
            </div>
            <!-- <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-card class="st-border m-10">
                <mat-card-header>
                    <mat-card-title style="color:#1F8476; font-size: 20px; font-weight: 400">Request a new root </mat-card-title>
                    <mat-card-subtitle class="desc-text">Root is on the landing page, if you want a new root, please log a request here and we will get back to you on this</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                    <button mat-button class="primary-button">View Details</button>
                </mat-card-actions>
            </mat-card>
        </div> -->
            <!-- <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-card class="st-border m-10">
                <mat-card-header>
                    <mat-card-title style="color:#1F8476; font-size: 20px; font-weight: 400">Request to be a moderator</mat-card-title>
                    <mat-card-subtitle class="desc-text">Dog Breed </mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                    <button mat-button class="primary-button">View Details</button>
                </mat-card-actions>
            </mat-card>
        </div> -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <mat-card class="st-border m-10">
                    <mat-card-header>
                        <mat-card-title>
                            <a style="color:#1F8476; font-size: 20px; font-weight: 400;"
                                routerLink="support/tickets">
                            Track requests
                            </a>
                        </mat-card-title>
                        <mat-card-subtitle class="desc-text">All the requests made on this page is here, you can check
                            their status</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="end">
                        <button (click)="navigate('tickets')" mat-button class="primary-button">View
                            See all</button>
                    </mat-card-actions>
                </mat-card>
            </div>

        </div>
    </div>
</div>