<!-- <p>support works!</p> -->

<div class="container">
    <br>
    <h3 style="color: #8dbcaa;">
        Support
    </h3>
    <br>
    <div class="row">
        <div class="col-md-4">
            <mat-card class="st-border m-10">
                <mat-card-header>
                    <mat-card-title style="color:#1F8476">Create a New Enhancement</mat-card-title>
                    <mat-card-subtitle class="desc-text">Please describe the enhancement </mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                    <button mat-button class="primary-button">View Details</button>
                    <!-- <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="st-border m-10">
                <mat-card-header>
                    <mat-card-title style="color:#1F8476">Report a Defect</mat-card-title>
                    <mat-card-subtitle class="desc-text">Describe a defect </mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                    <button mat-button class="primary-button">View Details</button>
                    <!-- <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="st-border m-10">
                <mat-card-header>
                    <mat-card-title style="color:#1F8476">Request a new root </mat-card-title>
                    <mat-card-subtitle class="desc-text">Root is on the landing page, if you want a new root, please log a request here and we will get back to you on this</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                    <button mat-button class="primary-button">View Details</button>
                    <!-- <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="st-border m-10">
                <mat-card-header>
                    <mat-card-title style="color:#1F8476">Request to be a moderator</mat-card-title>
                    <mat-card-subtitle class="desc-text">Dog Breed </mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                    <button mat-button class="primary-button">View Details</button>
                    <!-- <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="st-border m-10">
                <mat-card-header>
                    <mat-card-title style="color:#1F8476">Track my requests</mat-card-title>
                    <mat-card-subtitle class="desc-text">All the requests made on this page is here, you can check their status</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                    <button mat-button class="primary-button">View Details</button>
                    <!-- <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </div>
        
    </div>
</div>