<!-- <mat-progress-bar *ngIf="isLoading" mode="query" color="accent" style="margin: -15px;"></mat-progress-bar> -->
<div id="uf-article-detail" style="padding-top: 20px;">
    <!-- <div> -->

    <div *ngIf="!isLoading">
        <p class="uf-article-title">{{article?.title}}</p>


        <div class="uf-article-image">

            <img [hidden]="loadOriginalImage" id="featured_image_thumbnail" [src]="article?.featured_image_thumbnail"
                width="100%" height="100%">
            <img [hidden]="!loadOriginalImage" id="featured_image" [src]="article?.featured_image" width="100%"
                height="100%">

        </div>
        <div class="uf-article-body" [innerHTML]="article?.article_body"></div>
        <br><br>
        <div class="author-detail author-about" style="font-weight: 200">
            <img [src]="authorImage" class="uf-author-image" alt="author image">
            <p class="author-heading"><b>Author: </b>{{article.getAuthor?.first_name+" "+article.getAuthor?.last_name}}
            </p>
                <br>
            <pre>
                {{article.getAuthor?.about}}
            </pre>

        </div>
        <br><br><br>
    </div>

    <div *ngIf="isLoading" id="ghost">
        <!-- Progress -->

        <!-- <div> -->
        <p class="uf-article-title ghost-heading ghost" style="height:40px">

        </p>

        <div class="uf-article-image ">
            <div class="ghost ghost-image">

            </div>
        </div>

        <p class="uf-article-body ghost-body ghost"></p>
        <p class="uf-article-body ghost-body ghost"></p>
        <p class="uf-article-body ghost-body ghost"></p>
        <p class="uf-article-body ghost-body ghost"></p>
        <p class="uf-article-body ghost-body ghost"></p>
        <p class="uf-article-body ghost-body ghost"></p>
        <p class="uf-article-body ghost-body ghost ghost-body-trail"></p>
        <div style="height: 40px;"></div>
        <p class="uf-article-body ghost-body ghost"></p>
        <p class="uf-article-body ghost-body ghost"></p>
        <p class="uf-article-body ghost-body ghost"></p>
        <p class="uf-article-body ghost-body ghost"></p>
        <p class="uf-article-body ghost-body ghost"></p>
        <p class="uf-article-body ghost-body ghost"></p>
        <p class="uf-article-body ghost-body ghost ghost-body-trail"></p>
        <br>

        <div class="uf-author-details ghost">

        </div>
        <br><br>


    </div>
</div>