<!-- <mat-progress-bar *ngIf="isLoading" mode="query" color="accent" style="margin: -15px;"></mat-progress-bar> -->
<div class="cotntainer-fluid">
    <div class="row">
        <div class="col-lg-8">

            <div id="uf-article-detail" style="padding-top: 20px;">
                <div *ngIf="!isLoading">
                    <div *ngIf="owner" id="owner-box">
                        Article Options :
                        <a mat-icon-button routerLink="/path/article/{{article.id}}">
                            <mat-icon>
                                edit
                            </mat-icon>
                        </a>
                    </div>

                    <h2 style="color: #435152; font-weight: 500;" >{{title}}</h2>

                    <div *ngFor="let block of article_body ; let i = index">

                        <div class="uf-header" *ngIf="block.type=='header'" class="text">
                            <h1 id={{block.data.text}} *ngIf="block.data.level==1" style="margin-top: 40px; font-weight: 400;">{{block.data.text}}</h1>
                            <h2 id={{block.data.text}} *ngIf="block.data.level==2" style="margin-top: 40px; font-weight: 400;">{{block.data.text}}</h2>
                            <h3 id={{block.data.text}} *ngIf="block.data.level==3" style="margin-top: 40px; font-weight: 400;">{{block.data.text}}</h3>
                            <h4 id={{block.data.text}} *ngIf="block.data.level==4" style="margin-top: 40px; font-weight: 400;">{{block.data.text}}</h4>
                            <h5 id={{block.data.text}} *ngIf="block.data.level==5" style="margin-top: 40px; font-weight: 400;">{{block.data.text}}</h5>
                            <h6 id={{block.data.text}} *ngIf="block.data.level==6" style="margin-top: 40px; font-weight: 400;">{{block.data.text}}</h6>
                        </div>

                        <div *ngIf="block.type=='raw'">
                            <div [innerHTML]="block.data.html"></div>
                        </div>

                        

                        <div *ngIf="block.type=='embed'">
                            <!-- <iframe *ngIf="block.data.service=='youtube'" height="auto" width="auto"  -->
                            <div class="videoWrapper">
                                <iframe align="center" [src]="block.data.embed | safe" allowfullscreen>
                                </iframe>
                            </div>
                            <div class="caption" style="margin-bottom: 40px;">
                                {{block.data?.caption}}
                            </div>
                        </div>

                        <div *ngIf="block.type=='image'" class="article-image">
                            <img loading="lazy" [src]="block.data.file?.url" *ngIf="!imageLoaded"
                                (load)="onImageLoad()">
                            <div class="caption imageDiv" *ngIf="!imageLoaded">
                                <div class="loader"></div>
                            </div>
                            <img loading="lazy" *ngIf="imageLoaded" [src]="block.data.file?.url" (load)="onImageLoad()"
                                alt="Nature" class="responsive caption">

                            <div class="caption " style="margin-top: 10px;" >
                                {{block.data?.caption}}
                            </div>
                            <br>
                        </div>

                        <div *ngIf="block.type=='list'" style="padding-left: 0px;">
                            <!-- yellow -->
                            <div *ngIf="block.data.style=='ordered'">
                                <!-- yellow -->
                                <ol *ngFor="let item of block.data.items ; let i = index">
                                    <li [innerHTML]="item" class="text"></li>
                                </ol>
                                <br>
                            </div>
                            <div *ngIf="block.data.style=='unordered'">
                                <ul *ngFor="let item of block.data.items">
                                    <li [innerHTML]="item" class="text" ></li>
                                </ul>
                            </div>


                        </div>
                        <div *ngIf="block.type=='delimiter'" style="text-align: center; font-size: 30px; margin: 40px;">
                            <span>* * *</span>

                        </div>

                        <div *ngIf="block.type=='code'">
                            <!-- <div></div> -->
                            <div style="background-color: #F8F7FA; border: 1px solid #f1f1f4; padding: 10px;">
                                <pre style="color: #41314E;" class="text">{{block.data.code}}</pre>
                            </div>
                            <!-- <hr> -->
                        </div>

                        <div *ngIf="block.type=='paragraph'" style="padding: 5px 0px;">
                            <p [innerHTML]="block.data.text" class="text"></p>
                        </div>
                        <div *ngIf="block.type=='table'">
                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let row of block.data.content">
                                        <td *ngFor="let content of row">
                                            <span [innerHTML]="content">

                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="block.type=='linkTool'" class="link-embed">
                            <div class="text">
                                See the full
                                <a style="text-align: right;" target="_blank" href="{{block.data.link}}">
                                    article
                                    <mat-icon>open_in_new</mat-icon>
                                </a>
                                <br>
                                <!-- <span style="color:gray">captions and hyperlinks are removed for safety porpose</span> -->
                            </div>
                            <div>
                                <span style="color:gray" class="text">
                                    The article mentioned here is titled:
                                    <span style="color: #4F9AAB">
                                        {{block.data.meta.title}}
                                    </span>
                                </span>
                            </div>
                            <div *ngFor="let block of block.data.meta.result">
                                <div *ngIf="block.type=='image'" style="padding: 40px;">
                                    <img [src]="block.data.file?.url" alt="Nature" loading="lazy" class="responsive">
                                    <div class="caption">
                                        {{block.data?.caption}}
                                    </div>
                                </div>

                                <div *ngIf="block.type=='list'" style="padding-left:10px;">
                                    <!-- yellow -->
                                    <div *ngIf="block.data.style=='ordered'">
                                        <!-- yellow -->
                                        <!-- yellow -->
                                        <ol *ngFor="let item of block.data.items ; let i = index">
                                            <li [innerHTML]="item" class="text"></li>
                                        </ol>
                                        <br>
                                    </div>
                                    <div *ngIf="block.data.style=='unordered'">
                                        <ul *ngFor="let item of block.data.items">
                                            <li [innerHTML]="item" class="text"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div *ngIf="block.type=='code'">
                                    <!-- <div></div> -->
                                    <div style="background-color: #F8F7FA; border: 1px solid #f1f1f4; padding: 10px;">
                                        <pre style="color: #41314E;" class="text">{{block.data.code}}</pre>
                                    </div>
                                    <!-- <hr> -->
                                </div>

                                <div *ngIf="block.type=='paragraph'">
                                    <p [innerHTML]="block.data.text" class="text" style="line-height: 1.5;"></p>
                                </div>
                                <div *ngIf="block.type=='table'">
                                    <table class="table">
                                        <tbody>
                                            <tr *ngFor="let row of block.data.content">
                                                <!-- {{row}} -->
                                                <td *ngFor="let content of row">
                                                    <span [innerHTML]="content">
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="uf-header" *ngIf="block.type=='header'" class="text">
                                    <h1 id={{block.data.text}} *ngIf="block.data.level==1">{{block.data.text}}</h1>
                                    <h2 id={{block.data.text}} *ngIf="block.data.level==2">{{block.data.text}}</h2>
                                    <h3 id={{block.data.text}} *ngIf="block.data.level==3">{{block.data.text}}</h3>
                                    <h4 id={{block.data.text}} *ngIf="block.data.level==4">{{block.data.text}}</h4>
                                    <h5 id={{block.data.text}} *ngIf="block.data.level==5">{{block.data.text}}</h5>
                                    <h6 id={{block.data.text}} *ngIf="block.data.level==6">{{block.data.text}}</h6>
                                </div>
                                <div *ngIf="block.type=='embed'">
                                    <div class="videoWrapper">
                                        <iframe align="center" [src]="block.data.embed | safe" allowfullscreen>
                                        </iframe>
                                    </div>
                                    <div class="caption" style="margin-bottom: 40px;">
                                        {{block.data?.caption}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 
                    <pre>
                        {{article_body | json}}
                    </pre> -->


                    <!-- <div class="uf-article-body" [innerHTML]="article?.article_body"></div> -->
                    <br><br>
                    <div class="row">
                        <div class="col-lg-6" style="text-align: left;">
                            <!-- {{previousArticle | json}} -->
                            <a style="color: #3c869a;" routerLink="/path/{{category}}/{{previousArticle.id}}"
                                *ngIf="previousArticle">
                                <!-- <mat-icon>
                                    navigate_before
                                </mat-icon> -->
                                <button mat-button>
                                    <mat-icon>arrow_left</mat-icon>
                                    {{previousArticle.title}}
                                </button>
                            </a>
                        </div>
                        <!-- <div class="col-lg-2" style="text-align: center; color: rgba(0,0,0,.87)">
                            Follow the trail
                        </div> -->
                        <div class="col-lg-6" style="text-align: right;">
                            <!-- {{nextArticle | json}} -->
                            <a style="color: #3c869a;" routerLink="/path/{{category}}/{{nextArticle.id}}"
                                *ngIf="nextArticle">
                                <!-- <mat-icon>
                                    navigate_next
                                </mat-icon> -->
                                <button mat-button>
                                    {{nextArticle.title}}
                                    <mat-icon>arrow_right</mat-icon>
                                </button>

                            </a>
                        </div>
                    </div>
                    <br>
                    <mat-card class="author-card" *ngIf="article.getAuthor?.first_name">
                        <mat-card-header>

                            <div mat-card-avatar class="author-image" *ngIf="!authorImage"
                                style="background-size: cover; background-color: #f5f5f5;"></div>

                            <div mat-card-avatar class="author-image" *ngIf="authorImage"
                                [ngStyle]="{'background-image': 'url(' + authorImage + ')'}"
                                style="background-size: cover;"></div>

                            <mat-card-title *ngIf="article.getAuthor.first_name">
                                <a
                                    routerLink="/user/{{article.getAuthor?.id}}" class="text" >{{article.getAuthor?.first_name+" "+article.getAuthor?.last_name}}</a>
                            </mat-card-title>
                            <mat-card-title *ngIf="!article.getAuthor.first_name" class="text">The author has decided to keep the
                                profile private</mat-card-title>

                            <div style="color: #293e40; padding-bottom: 20px;">
                                <!-- <pre>
                                    {{article.getAuthor | json }}
                                </pre> -->
                                <a target="_blank" href="{{article.getAuthor.facebook_link}}"
                                    *ngIf="article.getAuthor.facebook_link" class="uf-social">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a target="_blank" href="{{article.getAuthor.instagram_link}}" class="uf-social"
                                    *ngIf="article.getAuthor.instagram_link">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a target="_blank" href="{{article.getAuthor.linkedin_link}}" class="uf-social"
                                    *ngIf="article.getAuthor.linkedin_link">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a target="_blank" href="{{article.getAuthor.twitter_link}}" class="uf-social"
                                    *ngIf="article.getAuthor.twitter_link">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a target="_blank" href="{{article.getAuthor.external_website_link}}" class="uf-social"
                                    *ngIf="article.getAuthor.external_website_link">
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                </a>
                            </div>


                            <mat-card-subtitle style="text-align: justify;" class="text">{{article.getAuthor?.about}}
                            </mat-card-subtitle>
                        </mat-card-header>
                        <!-- <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions> -->
                    </mat-card>


                </div>
                <!-- Shadow Dom, please don't be bothered by it, f**king nonsense -->
                <div *ngIf="isLoading" id="ghost">
                    <p class="uf-article-title ghost-heading ghost" style="height:40px">

                    </p>

                    <div class="uf-article-image ">
                        <div class="ghost ghost-image">

                        </div>
                    </div>

                    <p class="uf-article-body ghost-body ghost"></p>
                    <p class="uf-article-body ghost-body ghost"></p>
                    <p class="uf-article-body ghost-body ghost"></p>
                    <p class="uf-article-body ghost-body ghost"></p>
                    <p class="uf-article-body ghost-body ghost"></p>
                    <p class="uf-article-body ghost-body ghost"></p>
                    <p class="uf-article-body ghost-body ghost ghost-body-trail"></p>
                    <div style="height: 40px;"></div>
                    <p class="uf-article-body ghost-body ghost"></p>
                    <p class="uf-article-body ghost-body ghost"></p>
                    <p class="uf-article-body ghost-body ghost"></p>
                    <p class="uf-article-body ghost-body ghost"></p>
                    <p class="uf-article-body ghost-body ghost"></p>
                    <p class="uf-article-body ghost-body ghost"></p>
                    <p class="uf-article-body ghost-body ghost ghost-body-trail"></p>
                    <br>

                    <div class="uf-author-details ghost">

                    </div>
                    <br><br>


                </div>
            </div>
        </div>
        <div class="col-lg-4 right-nav-div">
            <!-- Well Well Well -->

            <br>

            <div style="position: fixed ;">
                <!-- <div> -->
                <h6 style="color: #425051;"> On this page </h6>
                <div *ngFor="let block of article_body">
                    <div *ngIf="block.type=='header'" style="padding: 6px 0px">
                        <a href="{{current_url.split('#')[0]}}#{{block.data.text}}" class="right-nav text">
                            <!-- {{block.data.text}} -->
                            {{block.data.text}}
                        </a>
                    </div>
                </div>
                <br><br>
                <div style="color: gray;">
                    Updated on: <br>
                    {{article?.sys_updated_on | date: 'mediumDate'}}
                </div>

            </div>
        </div>
    </div>
</div>

<br><br><br>