<div id="uf-read-articles">
    <h2 mat-dialog-title style="color: #293e40;">Viewed Articles</h2>
    <mat-dialog-content class="mat-typography">
        <div *ngFor="let article of articles">
            <mat-card class="uf-recently-viewed-card"
                routerLink="courses/{{article.article.course_id}}/{{article.article.id}}">
                <a href="courses/{{article.article.course_id}}/{{article.article.id}}" class="landing-title-color">
                    {{article.article.title}}
                </a>
                <div class="landing-breadcrumb">
                    {{article.article.knowledge_base}} / {{article.article.course_name}} <br>
                    <mat-icon style="font-size: 14px; padding: 0px; margin:0px; height: auto; width: auto;">
                        access_time
                    </mat-icon>
                    {{article.created_on | dateAgo}}
                </div>
            </mat-card>
        </div>
    </mat-dialog-content>
</div>