.uf-recently-viewed-card{
    background-color: #f7f7f7;
    color: #2e778e;
    box-shadow: none;
    margin-bottom: 10px;
    outline: none;
    min-width: 340px;

    &:hover{
        background-color: rgb(235, 235, 235);
        cursor: pointer;
    }
}
