<!-- <p>reset-password-logged-in works!</p> -->
<!-- <mat-progress-bar *ngIf="reseting" color="warn" mode="indeterminate"></mat-progress-bar> -->
<mat-progress-bar mode="determinate" value="100" color="accent"></mat-progress-bar>
<div class="flex-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="width: 280px; margin: auto;">
                    <br><br>
                    <span style="text-align: center; color: #2e778e;">
                        Reset Password
                    </span>
                    <br><br>
                    <form (ngSubmit)="resetPassword()" [formGroup]='passwordResetForm'>
                        <mat-form-field appearance="legacy" class="st-form-field">
                            <mat-label>Current password</mat-label>
                            <input matInput type="password" formControlName="old_password">
                            <mat-error>Minimum length required is atleast 8</mat-error>
                        </mat-form-field>

                        <div formGroupName="passwordGroup">
                            <mat-form-field appearance="legacy" class="st-form-field">
                                <mat-label>New password</mat-label>
                                <input matInput type="password" formControlName="password">
                                <mat-error>Minimum length required is atleast 8</mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field appearance="legacy" class="st-form-field">
                                <mat-label>New password confirmation</mat-label>
                                <input matInput type="password" formControlName="confirm_password">
                                <mat-error>Minimum length required is atleast 8</mat-error>
                            </mat-form-field>
                            <div style="height: 10px">
                                <span style="font-size: 12px;color: red;padding: 10px;"
                                    *ngIf='passwordResetForm.get("passwordGroup").errors'>Passwords don't match</span>
                            </div>
                        </div>
                        <br>
                        {{message}}
                        <br>
                        <div>
                            <button mat-raised-button type="submit" style=" float: right; "
                                [disabled]='!passwordResetForm.valid' class="primary-button-inverted">
                                Submit
                                <!-- <mat-icon matSu/ffix style="margin: 0px 8px;">login</mat-icon> -->
                            </button>
                        </div>
                        <br>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>