<!-- {{article_id}} <br> -->
<h5 mat-dialog-title>
    Article Tags
</h5>

<mat-dialog-content class="mat-typography">
    <div style="min-height: 100px;">
        <span style="color: #4f9aab; font-size: 12px;">
            You can set how relevanct is the tag to article!
        </span> <br>
        <span *ngFor="let tag of articleTags">
            <a mat-button class="primary-button-inverted" style="margin: 5px; padding-left:5px; padding-right:5px;">
                <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button> -->
                <mat-menu #menu="matMenu">
                    <!-- <button mat-menu-item class="tag-menu" style="color: #3c869a;" >Relevance</button> -->
                    <button mat-menu-item class="tag-menu" (click)="changeRelevance('1', tag.id)">High relevance</button>
                    <button mat-menu-item class="tag-menu" (click)="changeRelevance('2', tag.id)">Moderate relevance</button>
                    <button mat-menu-item class="tag-menu" (click)="changeRelevance('3', tag.id)">Low relevance</button>

                </mat-menu>
                <mat-icon [matMenuTriggerFor]="menu">
                    arrow_drop_down
                </mat-icon>
                {{tag.label}}
                <mat-icon style="font-size: 20px; cursor: pointer;" (click)="deleteFromTags(tag.id)">
                    close
                </mat-icon>
            </a>
        </span>
    </div>
</mat-dialog-content>
<mat-dialog-actions style="margin-bottom: 10px;">
    <div class="st-border" style="width: 100%;">
        <input type="text" placeholder="Add a tag and press enter..." class="tag-input st-border" name="selectedTag"
            list="cityname" (keydown)="addToTags($event, selectedTag)" [(ngModel)]="selectedTag">
        <datalist id="cityname">
            <option *ngFor="let tag of fetchedTags" [value]="tag.label">
        </datalist>
    </div>
    <br>
</mat-dialog-actions>