<h2 mat-dialog-title class="good">The Text didn't pass the profanity check!</h2>
<mat-dialog-content class="mat-typography">
    <div *ngFor="let text of text_array" [ngClass]="{'profane' : text.profanity[0]==1, 'good': text.profanity[0]==0}">
        <li *ngIf="text.profanity[0]==1"> {{text.string}} </li>
        <li *ngIf="text.profanity[0]==0" class="full-screen-display"> {{text.string}}  </li>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Ok</button>
</mat-dialog-actions>