<mat-progress-bar *ngIf="registering" color="warn" mode="indeterminate"></mat-progress-bar>

<div class="uf-auth-wrapper" id="auth-register">
    <div class="uf-auth-form">
        <div class="uf-auth-logo-space"></div>
        <div class="uf-auth-form-header">CREATE AN ACCOUNT</div>
        <div *ngIf="!registrationDone">
            <form (ngSubmit)="register()" [formGroup]='registrationForm' class="uf-auth-form-body">

                <mat-form-field appearance="outline" class="uf-auth-input-block">
                    <mat-label>Full Name</mat-label>
                    <input matInput type="text" id="name" formControlName="full_name" placeholder="Enter your name">
                    <mat-error>Please enter name</mat-error>
                    <mat-icon matSuffix style="margin: 0px 8px;">account_box</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="uf-auth-input-block">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" id="email" formControlName="email" placeholder="Enter Email">
                    <mat-error>Please enter a valid email address</mat-error>
                    <mat-icon matSuffix style="margin: 0px 8px;">account_box</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="uf-auth-input-block">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>Password too short(minimum allowed length is 8)</mat-error>
                </mat-form-field>
                <div *ngIf="errorMessage" class="uf-auth-form-footer error" color="warn">
                    {{errorMessage}}
                </div>
                
                <div class="uf-auth-buttons-div">
                    <button class="uf-auth-right-button" mat-button type="submit"
                        [title]="registrationForm.valid?'Register': 'Please enter valid details to continue'"
                        [disabled]='!registrationForm.valid || disableButton'>
                        <span *ngIf="!disableButton">Register</span>
                        <span *ngIf="disableButton"> ......</span>

                        <mat-icon *ngIf="!disableButton" matSuffix style="margin: 0px 8px;">login</mat-icon>
                    </button>
                </div>
                <br>
            </form>
        </div>
        <div *ngIf="registrationDone" class="uf-auth-form-body">
            <div class="uf-auth-info-block">
                <mat-icon matSuffix class="uf-auth-icon" [ngStyle]="{'color': 'green'}">
                    verified_user
                </mat-icon>
                <br>
                Activation link has has been sent to <b>{{user["email"]}}</b>, please check the inbox
            </div>
        </div>
        <br>

        <div class="uf-auth-form-footer">
            Already have an account? <a style="text-decoration: none;" color="primary" routerLink="/auth/">Sign
                in</a>
        </div>
    </div>
</div>

<br><br><br><br><br>