<div class="container" color="primary">

    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Paths">
            <ng-template matTabContent>
                <app-exploreroots></app-exploreroots>
            </ng-template>
        </mat-tab>
        <mat-tab label="My Dashboard">
            <ng-template matTabContent>
                <div class="row" style="margin: 0px;">
                    <br><br>
                    <div class="col-md-4">
                        <app-featured></app-featured>
                    </div>
                    <div class="col-md-8">
                        <app-all-articles></app-all-articles>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
    <!-- <button mat-button class="voila">Voila</button> -->
    <!-- <app-all-articles></app-all-articles> -->
</div>

<!-- 
<div class="uf-landing-wrapper">

    <div>


        <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

            <div fxFlex="30" class="sec1" fxFlex.xs="55" style="padding: 10px;">
                <app-featured></app-featured>
            </div>


            <div fxFlex="70" class="sec2" style="padding: 10px;">
                <app-all-articles></app-all-articles>
            </div>

        </div>
    </div>
</div> -->