<p align="end" style="margin-top: -20px;margin-right: -1rem;">
    <mat-icon mat-dialog-close matSuffix>
        close
    </mat-icon>
</p>
<div class="uf-auth-wrapper" style="max-height: 450px;" id="auth-login">
    <div class="uf-auth-form">
        <!-- <div class="uf-auth-logo-space"></div> -->
        <div class="uf-auth-form-header" style="padding-top: 0px; padding-bottom:5px ;">Sign in to get personalised
            experience</div>
        <mat-progress-bar mode="indeterminate" color="primary" *ngIf="signingIn"></mat-progress-bar>

        <div class="uf-auth-form-body" style="border: none !important" *ngIf="isLoggedIn">
            <p style="text-align: center;">
                Already Logged in
            </p>
        </div>

        <div class="uf-auth-form-body" style="border: none !important; padding: none !important;" *ngIf="!isLoggedIn">
            <div>
                <button id="googleBtn" mat-button class="uf-googlelogin" (click)="signInWithGoogle()">
                    <div style="padding-top: 5px; float: left;">
                        <img height="25px" style="vertical-align: baseline;"
                            src="assets/gl.png" />
                    </div>
                    Continue with google
                </button>
            </div>

            <div>
                <button (click)="signInWithFB()" mat-button class="uf-googlelogin">
                    <div style="padding-top: 5px; float: left;">
                        <img height="25px" style="vertical-align: baseline;" src="assets/fb.png" />
                    </div>
                    Continue with Facebook
                </button>
            </div>
            <!-- <div class="uf-auth-or">--OR--</div> -->

            <form novalidate (ngSubmit)="login()" [formGroup]="loginForm">
                <mat-form-field appearance="outline" class="uf-auth-input-block">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" id="email" formControlName="email" placeholder="Enter Email">
                    <mat-icon matSuffix style="margin: 0px 8px;">account_box</mat-icon>
                    <mat-error>Please enter a valid email address</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="uf-auth-input-block">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>Password(minimum length is 8)</mat-error>
                </mat-form-field>
                <div class="uf-auth-form-footer error" style="border: none" *ngIf="signInFailure">
                    {{errorMessage}}
                </div>
                <div class="uf-auth-buttons-div">
                    <a class="uf-auth-left-button" style="padding:0px;" href="/auth/passwordreset" mat-button
                        color="primary">Reset
                        Password</a>
                    <button class="uf-auth-right-button" mat-raised-button color="primary" type="submit"
                        [title]="loginForm.valid?'login': 'Please enter a valid email and password'"
                        [disabled]='!loginForm.valid || signingIn'>

                        <span *ngIf="!signingIn">Login</span>
                        <span *ngIf="signingIn">.......</span>
                        <mat-icon matSuffix style="margin: 0px 8px;">login</mat-icon>

                    </button>

                </div>
                <!-- <mat-progress-bar mode="indeterminate" *ngIf="signingIn"></mat-progress-bar> -->
            </form>
        </div>
        
        <br>
        <div class="uf-auth-form-footer " style="border: none">
            No Account? <a style="text-decoration: none;" color="primary" href="/auth/register">Create one</a>
        </div>
    </div>
</div>