<mat-progress-bar mode="determinate" value="100" color="accent"></mat-progress-bar>

<div class="flex-wrapper">
    <div class="container">
        <div>
            <button mat-button routerLink="/support/tickets" style="margin-top: 10px;" class="primary-button-inverted">
                <mat-icon>keyboard_backspace</mat-icon> Back
            </button>
        </div>
        <br>
        <div class="row">
            <br>

            <!-- <div *ngIf="!valid">  -->

            <!-- <h3>Unauthorized</h3> -->

            <!-- </div> -->

            <div class="col-md-8">
                <app-ticket-conversation [ticket]="ticket" *ngIf="valid"></app-ticket-conversation>
                <div *ngIf="!valid" class="loader">

                </div>
            </div>
            <div class="col-md-4">
                <div *ngIf="!valid" class="loader">
                </div>

                <app-attachments *ngIf="valid"></app-attachments>

                <app-ticket-detail (notify)='onNotify($event)' (ticket)="onTicket($event)"></app-ticket-detail>
                

            </div>
        </div>
    </div>
</div>