<!-- <p>about-us works!</p> -->

<app-what-we-do></app-what-we-do>
<div class="container-fluid" style="padding-top: 20px;">
    <div class="row">
        <div class="col-md-4">
            <app-what-matters></app-what-matters>

        </div>
        <div class="col-md-4">
            <app-who-we-are></app-who-we-are>
        </div>
        <div class="col-md-4">
            <app-how-we-do-it></app-how-we-do-it>
        </div>
    </div>
    <div class="row">
        
        <br>
    </div>
</div> 


