<div id="uf-all-articles">
    test
    <li *ngFor="let article of result">
        <div>
            {{article.id}} <br>
            Handle: {{article.getAuthor.id}}
        </div>
        
        <div><img height="100" width="150" [src]="article.featured_image_thumbnail"></div>
    </li>

    <br><br><br>
    <button (click)="getNextPage()" *ngIf="!endReached">Yolo</button>
    <div *ngIf="endReached">You have seen all the articles</div>
    <!-- {{result}} -->
    <!-- {{result['data']}} -->
</div>