.fillspace {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}


a{
    color: black;
    &:hover{
        text-decoration: none;
    }
}

.add-article-button{
    color: #052418;

    &:hover{
        color: #3e5153;
    }
}

.search-button{
    background-color: white;
    border: 1px solid #516264;
    outline: none;
    color: #516264;
    width: 85%;
    font-size: 12px;
    font-weight: 100;
    border-radius: 40px;
    padding: 0px 20px;
}

.sign-in{
    font-size: medium;
    color: #f8f9f9;
    .active{
        color: #f8f9f9;
    }    

    &:hover{
        cursor: pointer;
        color: white;
    }
}


.uf-search-button{
    border: none;
    background-color: white;
    outline: none;
    vertical-align: sub;
    
    &:hover{
        // background-color: ;
        cursor: pointer;
        // color: whit
    }
}

.uf-header{
    // background-color: var(--primary-color);
    background-color: white;
    // height: 48px;
}

@media(max-width: 768px){
    .uf-header{
        // background-color: var(--primary-color);
        background-color: white;
        height: 48px;
        border-bottom: 1px solid #8dbcaa;
    }
        
}

.uf-dashboard{
    color: #516264;
    background-color: var(--highlight-text);
    outline: none;

    &:hover{
        background-color: #f7f7f7;;
    }
}

::placeholder {
    color: #8dbcaa;
    font-weight: 100;
    opacity: 1; /* Firefox */
    font-size: 12px;
    // padding-bottom: 60px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
   font-weight: 100;
   font-size: 14px;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
   font-weight: 100;
   font-size: 14px;
  }

  .uf-search-icon{
    color: #516264;
    height: inherit;
    // padding-top: 10px;
    // width: 40px;
    text-align: center;

    &:hover{
        // background-color: #3e5153;
        color: #8dbcaa;
        cursor: pointer;
    }
  }

  .uf-main-icon{
    color: white;
    height: inherit;
    padding-top: 10px;
    width: 40px;
    text-align: center;
    outline: none;

    &:hover{
        background-color: #052418;
        cursor: pointer;
    } 
  }

  .logo{
    color: white; 
    font-size: 16px;
    outline: none;

    &:hover{
        cursor: pointer;
    }
  }