<mat-toolbar id="st-header" class="uf-header">

    <!-- <a mat-button routerLink="/welcome/" style="color: #8dbcaa;">SortedTree</a> -->
    <span routerLink="/welcome/" class="logo" style="color: white; font-size: 16px;">sorted</span>
    <span routerLink="/welcome/" class="logo" style="color: #8dbcaa; font-size: 30px;">T</span>
    <span routerLink="/welcome/" class="logo" style="color: white; font-size: 16px;"> ree</span>
    <button mat-button class="d-none d-md-block d-lg-block" (click)="getKnowledgeBases()" [matMenuTriggerFor]="menu"
        style="outline: none; margin-left: 20px; height: 48px; color: white; border-radius: 0px;">
        Roots
        <mat-icon>
            keyboard_arrow_down
        </mat-icon>
    </button>



    <mat-menu #menu="matMenu">
        <button mat-menu-item style="outline: none;line-height: 30px; height: auto;" *ngIf="loading_root">
            <span style="width: 100%; color: #3e5153; outline: none;">
                Loading...
            </span>
        </button>
        <button mat-menu-item style="outline: none;line-height: 30px; height: auto;"
            routerLink="/roots/{{root.id}}/root/" *ngFor="let root of roots">
            <span style="width: 100%; color: #3e5153; outline: none;">
                {{root.title}}
            </span>
        </button>
        <!-- <button mat-menu-item></button> -->
    </mat-menu>
    <span class="fillspace"></span>


    <form novalidate (ngSubmit)="searchResults()" class="d-none d-md-block d-lg-block" [formGroup]="searchQueryForm">
        <input type="text" class='search-button' placeholder="Search..." formControlName="query">
        <button type="submit" mat-icon-button style="background-color: #293E40;outline: none; margin-right: 15px;">
            <mat-icon class="uf-search-icon">search</mat-icon>
        </button>
    </form>



    <!-- <span *ngIf="isLoggedIn" style="margin-right: 10px;">
        <button mat-button class="uf-dashboard" routerLink="/dashboard" routerLinkActive="active">Dashboard</button>

    </span> -->

    <!-- <img [src]="image" alt=""> -->
    <span class="sign-in" *ngIf="!isLoggedIn">
        <a mat-flat-button class="uf-dashboard" routerLink="/auth/" (click)="sendToLoginPage()"
            routerLinkActive="active">Sign in</a>

    </span>

    <a mat-button class="add-article-button" target="_blank" rel="noopener noreferrer"  href="/path/article/1"
        *ngIf="isAuthor && userDetailFetched" style="line-height: 30px; outline: none; height: auto;">
        <mat-icon>
            add
        </mat-icon> new article
    </a>

    <a mat-button class="add-article-button" (click)="becomeAuthor()"
        *ngIf="!isAuthor && userDetailFetched" style="line-height: 30px; outline: none; height: auto;">
        <!-- <mat-icon style="font-size: 16px;"> -->
            <!-- edit -->
        <!-- </mat-icon>  -->
        Become an author
    </a>

    <span class="sign-in" *ngIf="isLoggedIn && userDetailFetched">


        <div *ngIf="image" [ngStyle]="{background: 'url('+image+')'}"
            style="height: 35px;width: 35px;border-radius: 17px;background-size: 100% 100%;background-color: rgb(131, 137, 139);"
            [matMenuTriggerFor]="beforeMenu">

        </div>
        <div *ngIf="!image"
            style="cursor: pointer; font-weight:100; font-size: 14px; padding-top: 1px; height: 35px;width: 35px;border-radius: 17px;background-size: 100% 100%;background-color: #8dbcaa;color: white;text-align: center;"
            [matMenuTriggerFor]="beforeMenu">
            <!-- {{user?.first_name[0]+user?.last_name[0]}} -->
            {{display_name}}
            <!-- {{user?.first_name+user?.last_name}} -->
        </div>


        
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <div routerLink="/user_profile" mat-menu-item style="line-height: initial; height: auto;cursor: default;">
                <div *ngIf="image" [ngStyle]="{background: 'url('+image+')'}" style="padding-top:5px;display:inline-block; height: 35px;width: 35px;border-radius: 17px;background-size: 100% 100%;background-color: #8dbcaa;
                    color: white;">
                </div>

                <span style="display: inline-block;padding-left: 10px;">
                    <b>
                        {{full_name}}
                    </b>
                    <br>
                    {{user?.email}}
                </span>
            </div>
            <!-- <hr *ngIf="isAuthor"> -->
            <hr>
            <a mat-menu-item target="_blank" rel="noopener noreferrer"  href="/path/article/1" *ngIf="isAuthor"
                class="menu-item-header">
                Add new article
            </a>
            <a mat-menu-item routerLink="/user_profile/authored_articles" *ngIf="isAuthor"
                class="menu-item-header">
                My Articles
            </a>
            <hr *ngIf="superUser || impersonated">


            <a mat-menu-item (click)="endImpersonation()" *ngIf="impersonated" class="menu-item-header"> 
                End Impersonation
            </a>


            <a mat-menu-item (click)="openImpersonation()" *ngIf="superUser" class="menu-item-header"> 
                Impersonate User
            </a>

            <hr *ngIf="isAuthor">

            <a mat-menu-item routerLink="/support" *ngIf="isLoggedIn"
                class="menu-item-header">
                Support
            </a>
            <a mat-menu-item class="menu-item-header" routerLink="/community"> 
                Explore community
            </a>
            <hr *ngIf="isLoggedIn">

            <!-- <hr> -->
            <a mat-menu-item routerLink="/user_profile" class="menu-item-header"> My
                Profile
            </a>
        
            <button mat-menu-item (click)="logout()" class="menu-item-header">
                Sign out
                <mat-icon matSuffix style="margin: 0px 2px;">login</mat-icon>
            </button>
        </mat-menu>

    </span>

</mat-toolbar>

<div class="container-fluid d-md-none d-lg-none">
    <div class="row">
        <div class="col-md-8  d-none d-md-block d-lg-block" style="padding: 0px;">
            <mat-toolbar class="uf-header"
                style="background-color: #3e5153; color: white; font-weight: 100; font-size: 16px;border-radius: 0px;">

            </mat-toolbar>
        </div>
        <div class="col-md-4" style="padding: 0px;">
            <mat-toolbar class="uf-header" style="background-color: #516264;">

                <form novalidate (ngSubmit)="searchResults()" [formGroup]="searchQueryForm" style="width: 100%;">
                    <input type="text"
                        style="background-color: #516264; border: none;outline: none; color: white; width: 85%; font-size: 16px; font-weight: 100;"
                        placeholder="Search" formControlName="query">
                    <button type="submit" class="uf-search-button">
                        <mat-icon class="uf-search-icon">search</mat-icon>
                    </button>
                </form>
                <button mat-button (click)="getKnowledgeBases()" [matMenuTriggerFor]="menu"
                    style="outline: none; height: 48px; color: white; border-radius: 0px;">
                    Roots
                    <mat-icon>
                        keyboard_arrow_down
                    </mat-icon>
                </button>


                <mat-menu #menu="matMenu">
                    <button mat-menu-item style="outline: none;line-height: 30px; height: auto;" *ngIf="loading_root">
                        <span style="width: 100%; color: #3e5153; outline: none;">
                            Loading...
                        </span>
                    </button>
                    <button mat-menu-item style="outline: none;line-height: 30px; height: auto;"
                        routerLink="/roots/{{root.id}}/root/" *ngFor="let root of roots">
                        <span style="width: 100%; color: #3e5153; outline: none;">
                            {{root.title}}
                        </span>
                    </button>
                </mat-menu>
            </mat-toolbar>

        </div>
    </div>

</div>