.fillspace {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.sign-in{
    font-size: medium;
    color: #f8f9f9;
    .active{
        color: #f8f9f9;
    }    

    &:hover{
        cursor: pointer;
        color: white;
    }
}

.uf-header{
    background-color: var(--primary-color);
    height: 48px;
}

.uf-dashboard{
    color: #f8f9f9;
    background-color: var(--highlight-text);

    &:hover{
        background-color: #205542;;
    }
}

