<!-- <p>header works!</p> -->
<mat-toolbar id="uf-header" class="uf-header">

    <div mat-button routerLink="/welcome/" style="color: #f8f7f7;">Logo</div>
    <span class="fillspace"></span>

    <span class="sign-in" *ngIf="!isLoggedIn">
        <button mat-flat-button class="uf-dashboard" routerLink="/auth/" (click)="sendToLoginPage()"
            routerLinkActive="active">Sign in</button>
    </span>

    <span *ngIf="isLoggedIn" style="margin-right: 10px;">
        <button mat-button class="uf-dashboard" routerLink="/dashboard" routerLinkActive="active">Dashboard</button>

    </span>

    <!-- <img [src]="image" alt=""> -->


    <span class="sign-in" *ngIf="isLoggedIn">

        <div *ngIf="image" [ngStyle]="{background: 'url('+image+')'}"
            style="height: 35px;width: 35px;border-radius: 17px;background-size: 100% 100%;background-color: rgb(255, 255, 255);"
            [matMenuTriggerFor]="beforeMenu">
        </div>
        <div *ngIf="!image"
            style="cursor: pointer; font-weight:100; font-size: 14px; padding-top: 1px; height: 35px;width: 35px;border-radius: 17px;background-size: 100% 100%;background-color: black;color: white;text-align: center;"
            [matMenuTriggerFor]="beforeMenu">
            {{user?.first_name+user?.last_name}} 

        </div>

        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <div mat-menu-item style="line-height: initial; height: auto;cursor: default;">
                <div [ngStyle]="{background: 'url('+image+')'}"
                    style="padding-top:5px;display:inline-block; height: 35px;width: 35px;border-radius: 17px;background-size: 100% 100%;background-color: rgb(255, 255, 255);">
                </div>

                <span style="display: inline-block;padding-left: 10px;"><b>{{user?.first_name+" "+user?.last_name}}</b>
                    <br>
                    {{user.email}}
                </span>
            </div>
            <hr>
            <button mat-menu-item routerLink="/user_profile" style="line-height: 20px; height: auto;"> My
                Profile</button>
            <button mat-menu-item (click)="logout()" style="line-height: 20px; height: auto;">
                Sign out
                <mat-icon matSuffix style="margin: 0px 2px;">login</mat-icon>
            </button>
        </mat-menu>

    </span>

</mat-toolbar>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8" style="padding: 0px;">
            <mat-toolbar class="uf-header" style="background-color: #3e5153; color: white; font-weight: 100; font-size: 16px;;">
                <mat-icon class="uf-main-icon">home</mat-icon>

            </mat-toolbar>
        </div>
        <div class="col-md-4" style="padding: 0px;">
            <mat-toolbar class="uf-header" style="background-color: #516264;">
                <input type="text"
                    style="background-color: #516264; border: none;outline: none; color: white; width: 80%;"
                    placeholder="Search">
                <mat-icon class="uf-search-icon">search</mat-icon>
                <!-- <mat-icon mat-button [matMenuTriggerFor]="menu" class="uf-search-icon">info</mat-icon>
                <mat-menu #menu="matMenu" style="width: fit-content;">
                    <h6>How search works:</h6>
                    <h6>Topics are ranked in search results by how closely they match your search terms</h6>
                    <ul>
                        <li>A match on the entire phrase you typed</li>
                        <li>A match on part of the phrase you typed</li>
                        <li>A match on ALL of the terms in the phrase you typed</li>
                        <li>A match on ANY of the terms in the phrase you typed</li>
                    </ul>
                    <p><span>Note:</span> Matches in titles are always highly ranked.</p>
                </mat-menu> -->
            </mat-toolbar>

        </div>
    </div>

</div>