<!-- <p>browse-by-roots works!</p> -->
<div class="container" id="st-comm-select">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div id="comm-explore-roots">
                <mat-accordion multi (click)="fetchData()">
                    <mat-expansion-panel style="box-shadow: none;" class="st-border">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Roots
                            </mat-panel-title>
                            <mat-panel-description>
                                {{selected_root_label? selected_root_label:"Browse questions by root" }}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="loader" *ngIf="loading" style="margin: 30px auto !important ;"></div>
                            <div *ngIf="!loading" style="text-align: center;">
                                <h3>Roots</h3>
                                <div class="row">
                                    <a routerLink="/community" [queryParams]="{root: root.id}"
                                        *ngFor="let root of roots?.bases" class="col-md-3 col-6">
                                        <div class="st-border card" [ngClass]="{'selected' : root.id == selected_root}"
                                            matTooltip="{{root?.title}}">
                                            <div class="title">{{root?.title}}</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                </mat-accordion>
                <br>
                <div style="text-align: center;" *ngIf="paths?.length > 0">
                    <mat-accordion multi>
                        <mat-expansion-panel style="box-shadow: none;" class="st-border">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Paths
                                </mat-panel-title>
                                <mat-panel-description>
                                    {{selected_path_label? selected_path_label :"Browse further by paths"}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <ng-template matExpansionPanelContent>
                                <div style="text-align: center;">
                                    <h3>Paths inside</h3>
                                    <div class="row">
                                        <a routerLink="/community" [queryParams]="{path: path.id}"
                                            queryParamsHandling='merge' *ngFor="let path of paths"
                                            class="col-md-3 col-6">
                                            <div class="st-border card"
                                                [ngClass]="{'selected' : path.id == selected_path}"
                                                matTooltip="{{path?.label}}">
                                                <div class="title">{{path?.label}}</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div style="text-align: center;" *ngIf="paths?.length == 0">
                    <mat-expansion-panel disabled style="box-shadow: none;" class="st-border">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                No Paths in this root
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <br><br>
    <span style="color: #1F8476; outline: none;">
        <button mat-button style="outline: none;" routerLink="/community">
            All
        </button>

        <span *ngIf="selected_root && roots">
            <button mat-icon-button>
                <mat-icon>
                    arrow_right
                </mat-icon>
            </button>

            <button mat-button [matMenuTriggerFor]="root" routerLink="/community" [queryParams]="{root: selected_root}"
                style="outline: none;">
                {{selected_root_label}}
                <!-- <mat-icon>
                    arrow_drop_down
                </mat-icon> -->
            </button>
            <mat-menu #root="matMenu">
                <button mat-menu-item class="menu-item-header" *ngFor="let root of roots?.bases" routerLink="/community"
                    [queryParams]="{root: root.id}">
                    {{root?.title}}
                </button>
            </mat-menu>
        </span>
        <span *ngIf="selected_path">
            <button mat-icon-button>
                <mat-icon>
                    arrow_right
                </mat-icon>
            </button>
            <button mat-button style="outline: none;" [matMenuTriggerFor]="path">
                {{selected_path_label}}
                <!-- <mat-icon>
                    arrow_drop_down
                </mat-icon> -->
            </button>
            <mat-menu #path="matMenu">
                <button mat-menu-item class="menu-item-header" *ngFor="let path of paths" routerLink="/community" queryParamsHandling='merge'
                    [queryParams]="{path: path.id}">
                    {{path?.label}}
                </button>
            </mat-menu>
        </span>
    </span>

</div>