<div id="uf-recently-viewed">
    <p style="color: #425051;" *ngIf="articles">Recently viewed articles</p>

    <div class="row">
      <div class="col-12" *ngFor="let article of articles">

        <!-- courses/health-insurance-fraud-910d7c2f/fsadfasdfasd -->
        <mat-card class="uf-recently-viewed-card" routerLink="courses/{{article.article.course_id}}/{{article.article.id}}">

          <div class="uf-recently-viewed-header">
            {{article.article.knowledge_base}} -> {{article.article.course_name}}
          </div>
          <mat-card-header>
            <mat-card-title style="color: #425051; font-size: 16px;font-weight: 400;"> {{article.article.title}} </mat-card-title>
            <mat-card-subtitle style="color: #425051; font-size: 14px;">{{article.article.description}}</mat-card-subtitle>
          </mat-card-header>
          
        </mat-card>
  
      </div>
    </div>
    <!-- <button class="recently-viewed-all-button"> View all</button> -->
    <div style="text-align: right;">
    <button mat-button class="recently-viewed-all-button" (click)="openAllReadArticles()">View all</button>

    </div>
    
    <!-- <pre>
    {{articles | json}}

    </pre> -->
</div>