
.uf-paragraph-wrapper{
    display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   color: rgb(60, 57, 61);
   font-weight: lighter;
}

.uf-recently-viewed-card{
    background-color: #f7f7f7;
    color: #2e778e;
    box-shadow: none;
    margin-bottom: 10px;
    outline: none;

    &:hover{
        background-color: rgb(235, 235, 235);
        cursor: pointer;
    }
}

.uf-recently-viewed-header{
    margin-bottom: 10px;
    color: white;
    background-color: #81b5a1;
    margin-left: -20px;
    width: fit-content;
    padding: 0px 20px;
}

.recently-viewed-all-button{
    color: #3c869a;
    // border: 2px solid #3c869a;
    border-radius: 0px;
    background-color: white;
    outline: none;

    &:hover{
        background-color: #3c869a;
        color: white;
    }
}

.anchor{
    color: #3c869a;

    &:hover{
        color: #3c869a;

    }
}