<div id="uf-recently-viewed" *ngIf="articles.length>0">
  <p style="color: #425051;" *ngIf="articles">Recently viewed articles</p>

  <div class="row">
    <div class="col-12" *ngFor="let article of articles">


      <a href="courses/{{article.article.course_id}}/{{article.article.id}}" class="anchor"> 
        {{article.article.title}}
      </a>

      <div style="font-size: 12px;text-align: left; color: #a4acad; padding-bottom: 10px;">
        {{article.article.knowledge_base}} / {{article.article.course_name}} <br>
      </div>
      

    </div>
  </div>
  <div style="text-align: right;">
    <button mat-button class="recently-viewed-all-button" (click)="openAllReadArticles()">
      View all
      <mat-icon style="font-size: 20px;">
        call_made
      </mat-icon>
    </button>
    
  </div>

  <!-- <pre>
    {{articles | json}}

    </pre> -->
</div>