.wrapper-password-email{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .password-reset-form{
        width: 340px;
        margin: auto;
        .logo-space{
            padding: 32px 0px 24px;
            text-align: center;
        }
        .password-reset-header{
            padding: 15px;;
            text-align: center;
        }
        .password-reset-form-body{
            border: 1px solid rgba(0,0,0,.26);
            border-radius: 10px;
            padding: 15px;
            .input-block{
                width: 100%;
            }
            .reset-button{
                float:right;
            }
        }
        .password-reset-footer{
            border: 1px solid rgba(0,0,0,.26);
            border-radius: 10px;
            padding: 20px;
            text-align: center;
        }
    }
}