<div class="uf-auth-wrapper">
    <div class="uf-auth-form">
        <div class="uf-auth-logo-space"></div>
        <div class="uf-auth-form-header">
            RESET LINK
        </div>
        
        <div *ngIf='!mailsent' class="uf-auth-form-body">
            <form novalidate (ngSubmit)=save() [formGroup]='resetForm'>

                <mat-form-field appearance="outline" class="uf-auth-input-block">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" id="email" formControlName="email" placeholder="Enter Email">
                    <mat-icon matSuffix style="margin: 0px 8px;">account_box</mat-icon>
                    <mat-error>Please enter the valid mail id</mat-error>
                </mat-form-field>
                
                <div class="uf-auth-buttons-div">
                    <button class="uf-auth-right-button" mat-button color="primary" type="submit"
                        [title]="resetForm.valid?'Send Reset Link': 'Email address is not valid'"
                        [disabled]='!resetForm.valid || disableButton '>

                        Send Reset Link
                        <mat-icon matSuffix style="margin: 0px 8px;">login</mat-icon>

                    </button>
                </div>


            </form>
        </div>

        <div *ngIf='mailsent' class="uf-auth-form-body">
            <div class="uf-auth-info-block">
                <mat-icon matSuffix class="uf-auth-icon">verified_user
                </mat-icon>
                <br>
                {{message}}
            </div>
        </div>

        <br>
        <div class="uf-auth-form-footer">
            New to Urbanfrauds? <a style="text-decoration: none;" color="primary" routerLink="/auth/register">Create an
                account</a>
        </div>
    </div>

    
</div>

<br><br><br><br><br><br><br><br><br>