<div class="wrapper-password-email">
    <div class="password-reset-form">
        <div class="logo-space"></div>
        <div class="password-reset-header">
            RESET LINK
        </div>
        
        <div *ngIf='!mailsent' class="password-reset-form-body">
            <form novalidate (ngSubmit)=save() [formGroup]='resetForm'>

                <mat-form-field appearance="outline" class="input-block">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" id="email" formControlName="email" placeholder="Enter Email">
                    <mat-icon matSuffix style="margin: 0px 8px;">account_box</mat-icon>
                    <mat-error>Please enter the valid mail id</mat-error>
                </mat-form-field>
                
                <div style="padding: 5px; height:40px;">
                    <button class="reset-button" mat-button color="primary" type="submit"
                        [title]="resetForm.valid?'Send Reset Link': 'Email address is not valid'"
                        [disabled]='!resetForm.valid || disableButton '>

                        Send Reset Link
                        <mat-icon matSuffix style="margin: 0px 8px;">login</mat-icon>

                    </button>
                </div>


            </form>
        </div>

        <div *ngIf='mailsent' class="password-reset-form-body">
            <div style="text-align: center;">
            {{message}}
            </div>
        </div>

        <br>
        <div class="password-reset-footer">
            New to Urbanfrauds? <a style="text-decoration: none;" color="primary" routerLink="/auth/register">Create an
                account</a>
        </div>
    </div>

    
</div>

<br><br><br><br><br><br><br><br><br>