<mat-progress-bar *ngIf="sendingLink" color="warn" mode="indeterminate"></mat-progress-bar>
<mat-progress-bar *ngIf="!sendingLink" mode="determinate" value="100" color="accent"></mat-progress-bar>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">

            <div class="uf-auth-wrapper" id="auth-passwordreset">
                <div class="uf-auth-form">
                    <div class="uf-auth-logo-space"></div>
                    <!-- <div class="uf-auth-form-header">
                        RESET LINK
                    </div> -->
                    <mat-toolbar style="text-align: center;">
                        <span routerLink="/welcome/" class="logo" style="color: #8dbcaa; font-size: 16px;">sorted</span>
                        <span routerLink="/welcome/" class="logo" style="color: #8dbcaa; font-size: 30px;">T</span>
                        <span routerLink="/welcome/" class="logo" style="color: #8dbcaa; font-size: 16px;">ree</span>

                        <span style="margin-left: auto; font-size: 14px; color: #2e778e;"> RESET LINK </span>
                    </mat-toolbar>
                    
                    <div *ngIf='!mailsent' class="uf-auth-form-body">
                        <span style="margin: auto; font-size: 14px; color: #8dbcaa;">
                            Enter the email address to receive the password reset link
                        </span>
                        <br>
                        <br>
                        <div *ngIf="resendLinkButtonActive" style="text-align: center;">
                            <button mat-button [disabled]="resendLink" (click)="resendActivationLink()" class="primary-button-inverted">
                                <span *ngIf="!resendLink">Resend Activation Link</span> 
                                <span *ngIf="resendLink">Sending...</span> 

                            </button>
                            <br>
                            <br>
                        </div>
                        <form novalidate (ngSubmit)=save() [formGroup]='resetForm'>

                            <mat-form-field appearance="outline" class="uf-auth-input-block">
                                <mat-label>Email</mat-label>
                                <input matInput type="email" id="email" formControlName="email"
                                    placeholder="Enter Email">
                                <mat-icon matSuffix style="margin: 0px 8px;">account_box</mat-icon>
                                <mat-error>Please enter the valid mail id</mat-error>
                            </mat-form-field>

                            

                            <div class="uf-auth-form-footer error" *ngIf="errorOccured">
                                {{message}}
                            </div>


                            <div class="uf-auth-buttons-div">
                                <button class="uf-auth-right-button" mat-raised-button color="primary" type="submit"
                                    [title]="resetForm.valid?'Send Reset Link': 'Email address is not valid'"
                                    [disabled]='!resetForm.valid || disableButton '>
                                    <span *ngIf="!disableButton">Send Reset Link</span>
                                    <span *ngIf="disableButton">Sending reset link....</span>
                                    <mat-icon matSuffix style="margin: 0px 8px;">login</mat-icon>

                                </button>
                            </div>
                            <br>
                            <!-- <div *ngIf="resendLinkButtonActive"> -->
                            
                        </form>

                    </div>

                    <div *ngIf='mailsent' class="uf-auth-form-body">
                        <!-- <div class="uf-auth-form-body"> -->
                        <div class="uf-auth-info-block">
                            <mat-icon matSuffix class="uf-auth-icon" style="color: green;">verified_user
                            </mat-icon>
                            <br>
                            <div [innerHtml]="message" style="color: #1F8476; text-align: center; font-size: 14px;">
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="uf-auth-form-footer">
                        New to Sorted Tree? <a style="text-decoration: none;" color="primary"
                            routerLink="/auth/register">Create an
                            account</a>
                    </div>
                </div>


            </div>

        </div>
        <div class="col-md-7 d-none d-sm-none d-md-block" style="padding-left: 0px; padding-right: 0;">

            <app-rightpanel></app-rightpanel>

        </div>
    </div>
</div>