<div id="uf-kbuse" *ngIf="!forTesting" style="text-align: center;">

    <div *ngIf="!isLoading" class="uf-kbuse">
        <!-- <div *ngIf="!found_useful"> -->
        <div>
            <span style="color: #435152; font-size: 14px;"> Did You find this article useful?</span>
            <br>
            <button mat-button class="primary-button" (click)="markUseful(true)" [ngClass]="{'selected' : found_useful}">
                <mat-icon matSuffix>
                    thumb_up
                </mat-icon>
            </button>
            <button mat-button class="primary-button" (click)="markUseful(false)" [ngClass]="{'selected' : found_useful == false}">
                <mat-icon matSuffix>
                    thumb_down
                </mat-icon>
            </button>
        </div>
        <!-- <div *ngIf="found_useful" style="color: green">
            You found this article useful
        </div> -->
        <br>
        <button mat-button color="accent" (click)="bookmark()" *ngIf="bookmarked">
            Remove the bookmark
            <mat-icon matSuffix color="accent">bookmark_border
            </mat-icon>
        </button>
        <button mat-button style="color: #63a7b6" (click)="bookmark()" *ngIf="!bookmarked">
            Bookmark this article
            <mat-icon matSuffix style="color: #63a7b6">bookmark
            </mat-icon>
        </button>

        <button mat-stroked-button style="color: #63a7b6" (click)="sendFeedback()">
            Send Feedback
            <mat-icon matSuffix style="color: #63a7b6">feedback
            </mat-icon>
        </button>
    </div>

    <div class="uf-kbuse" *ngIf="isLoading">
        <div style="text-align: center;">
            <div style="margin: auto; height: 30px; width: 280px; background-color: lightgray;">
            </div>
            <button mat-raised-button style="color: lightgray; background-color: lightgray;">Ghost</button>
            <button mat-raised-button style="color: lightgray; background-color: lightgray;">Ghost</button>
            <br> <br>
            <div style="margin: auto; height: 30px; width: 280px; background-color: lightgray;">

            </div>
        </div>
    </div>
</div>