<div style="text-align: center;padding-top: 20px; background-size: 100% 100%;height: 85vh;background-image: url(https://uf-portal-images.s3.ap-south-1.amazonaws.com/portal-images/puzzle.jpg);">
    <h1 style="font-family: fantasy;">Why don't you just sit back and let us put the pieces together for you!!</h1>
    <br><br><br> <br> <br><br> <br><br>
    <!-- <h1 style="font-family: fantasy;"> Let's make the learning organised and accessible </h1> -->
    <button mat-button color="accent" routerLink="/" style="border: 1px solid black; border-radius: 5px;color:black">See what we got for you</button>
    

</div>
<!-- <img src="assets/a1.jpg" width="100%"> -->

<!-- <img src="https://uf-portal-images.s3.ap-south-1.amazonaws.com/portal-images/puzzle.jpg" width="100%" alt="" srcset=""> -->