<div class="container">
    <div class="row">
        <div class="col-md-9">
            <hr>
            <h5 style="color: #1F8476;">
                {{answers?.length}} Answer(s)
            </h5>

            <div *ngFor="let answer of json_answers">
                <div class="st-border" style="padding: 15px; margin: 15px 0px;">
                    <div *ngFor="let block of answer.answer">
                        <div *ngIf="block.type=='list'" style="padding-left: 0px; font-size: 15px;">
                            <div *ngIf="block.data.style=='ordered'">
                                <ol style="margin-bottom: 2px;">
                                    <li *ngFor="let item of block.data.items ; let i = index" [innerHTML]="item"
                                        class="text"></li>
                                </ol>
                            </div>
                            <div *ngIf="block.data.style=='unordered'">
                                <ul *ngFor="let item of block.data.items" style="margin-bottom: 2px;">
                                    <li [innerHTML]="item" class="text"></li>
                                </ul>
                            </div>
                        </div>
                        <div *ngIf="block.type=='code'">
                            <div style="background-color: #F8F7FA; border: 1px solid #f1f1f4; padding: 10px;">
                                <pre style="color: #41314E;" style="font-size: 12px;"
                                    class="text">{{block.data.code}}</pre>
                            </div>
                        </div>
                        <div *ngIf="block.type=='paragraph'">
                            <p style="margin-bottom: 2px; font-size: 15px;" [innerHTML]="block.data.text" class="text">
                            </p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4" style="font-size: 14px; ">
                            <span class="edit-question" *ngIf="answer?.owner">
                                <a (click)="editAnswer(answer.answer, answer.id)">
                                    Edit
                                </a>
                            </span>
                        </div>

                        <div style="font-size: 14px;" class="col-md-8">
                            <span *ngIf="answer.update_count>0" style="color: #1F8476;">
                                <b> updated </b> {{answer.update_count}} time(s)
                                {{answer.sys_updated_on | dateAgoQues}}
                                •
                            </span>
                            <span style="color: #1F8476;">{{answer.sys_created_on | dateAgoQues}} </span>
                            <span>
                                •
                                by
                                <a routerLink="/user/{{answer?.sys_created_by.id}}" style="color: #1F8476;">
                                    {{answer?.sys_created_by.name}}
                                </a>
                            </span>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <br><br>
                <h5 style="color: #1F8476;">Your answer</h5>
                <div style="margin: auto; padding: 15px;margin-bottom: 20px;" class="st-border" id="editorjsanswer">

                </div>
                <button mat-button [disabled]="post_answer_disabled" class="primary-button-inverted" (click)="save()"
                    style="float: right;">Post your answer</button>
            </div>
        </div>
    </div>
</div>
<br><br>