<!-- <p>who-we-are works!</p> -->

<div class="wrapper container-fluid">
    <div class="row">
        <div class="col-sm-4">
            Logo
      </div >
        <div class="col-sm-8" style="background-color: #C1D9DE;">
            <br><br><br><br><br>
            <h1 style="color: #293E40;">
                <!-- We are just a bunch of dreamers, who have ridiculous dreams -->
                Who we are
            </h1>
            <br>
            <div style='background-color: #293E40; padding: 10px; margin: 0px -15px;'>

                <span style="color: white; font-size: 26px; font-weight: 200;">
                    <!-- We are just bunch of people who want to change just something -->
                    We have a crazy dream <br>
                    We are just determined enough to work on it however crazy it may seem 
                    <!-- We are the ones who would rather burn out than fade away     -->
                    <!-- In a world driven entirely  -->
                    <!-- We don't know who we are, we just know that we are passionate about what we do, we don't expect any reward, 
                    we are in it because it is just something that has to be done -->
                    <br> <br>
                    <!-- This idea came to us and we thought why not just go for it <br> -->
                    <!-- We are just planting a seed and maybe it will grow to meet our expectations  -->
                </span>

            </div>
  
        </div>
    </div>
    
</div>
<!-- Who we are is none of your business! -->