<!-- <p>pathbuilder works!</p> -->
<mat-progress-bar mode="query" color="accent" *ngIf="isLoading"></mat-progress-bar>
<mat-progress-bar mode="determinate" color="accent" value="100" *ngIf="!isLoading"></mat-progress-bar>
<br><br><br><br>
<div class="container" id="uf-path">
    <!-- <pre>
        {{sectionAndArticles | json}}
    </pre> -->
    <div class="row">
        <div class="col-md-4">
            Add section <br>
            <br>
            <mat-form-field class="pathbuild-full-width">
                <mat-label>Add New Section</mat-label>
                <input matInput [(ngModel)]="newSection" #ctrl="ngModel" placeholder="Getting Started">
            </mat-form-field>
            <button mat-flat-button color="accent" (click)="addSection()">Add section</button>
        </div>
        <div class="col-md-8">
            <div cdkDropList class="pathbuild-list" (cdkDropListDropped)="drop($event)">
                <div class="pathbuild-box" *ngFor="let element of flatSectionAndArticles" cdkDrag>
                    <span style="padding-left: 40px; " *ngIf="element.type=='article'">
                        <mat-icon>
                            subdirectory_arrow_right
                        </mat-icon>
                        {{element.label}}
                    </span>
                    <span style="color: #3c869a;" *ngIf="element.type=='section'">{{element.label}}</span>
                </div>
            </div>
            <br>
            <div>
                <button mat-flat-button color="primary" [disabled]="isLoading" (click)="finalPathStructure()">
                    Save the path
                </button>
            </div>
        </div>
    </div>
</div>