.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }

.header{
  font-size: 18px;
  border: 1px solid #ddd; 
  background-color: #f5f5f5;
  border-radius: 5px 5px 0px 0px;
}

.list-icon{
  color:  #1F8476; 
  cursor: pointer;
}

.list-title{
  color: #1F8476; 
  font-size: 14px !important;
}

.list-sub{
  color: #666666; 
  font-size: 12px !important;
}

.read{
  border-left: 1px solid #ddd !important;
}

.unread{
  border-left: 1px solid #1F8476;
}

.unread-staff{
  border-left: 3px solid #1F8476 !important;
}