<mat-progress-bar mode="determinate" value="100" color="accent"></mat-progress-bar>

<!-- <p>tickets works!</p> -->
<div class="flex-wrapper">
  <div class="container" id="st-tickets">
    <button mat-button class="primary-button-inverted" routerLink="/support" style="margin-top: 10px;"> <mat-icon>keyboard_backspace</mat-icon> Back</button>
    <h3 style="color: #8dbcaa; text-align: center;">
      Requests
    </h3>
    <br>
    <div class="row">
      <div class="col-md-6" style="margin-bottom: 20px;">
        <mat-list>
          <div mat-subheader class="header">
            Features 
            <button mat-button routerLink="/support/feature_request" style="color: #1F8476; margin-left: auto;"> Suggest feature</button>

          </div>
          <div *ngIf="features?.length==0" style="padding: 20px;" class="st-border">
            No Features Suggested!
          </div>
          <div *ngIf="isLoading" style="padding: 20px;" class="st-border">
            loading....
          </div>
          
          <mat-list-item [ngClass]="{'read' : feature?.read_by_staff || feature?.read_by_user}" *ngFor="let feature of features" style="border: 1px solid #ddd; border-left: 5px solid #1F8476;">
            <a target="_blank" routerLink="/support/tickets/{{feature.id}}/feature">
              <mat-icon mat-list-icon class="list-icon">
                open_in_new
              </mat-icon>
            </a>
          <!-- {{feature?.read_by_staff +""+ feature?.read_by_user }} -->

            <div mat-line class="list-title">
              <a routerLink="/support/tickets/{{feature.id}}/feature" class="list-title">
                <span>{{feature.short_description}}</span>
                <!-- <span><b>{{feature.short_description}}</b></span> -->
              </a>
            </div>
            <div mat-line class="list-sub" *ngIf="feature.get_created_by">Priority: {{feature?.priority}} • {{feature.get_created_by?.email}}</div>
            <div mat-line class="list-sub">updated {{feature.sys_updated_on | timesAgo}} • created {{feature.sys_created_on | timesAgo}} • <span style="color: #1F8476;">{{feature.state}}</span> </div>

          </mat-list-item>
        </mat-list>
      </div>
      <div class="col-md-6">
        <mat-list>
          <div mat-subheader class="header">
            Defects
            <button mat-button routerLink="/support/report_defect" style="color: #1F8476; margin-left: auto;"> Report defect</button>

          </div>
          <div *ngIf="defects?.length==0" style="padding: 20px;" class="st-border">
            No defects reported!
          </div>
          <div *ngIf="isLoading" style="padding: 20px;" class="st-border">
            loading....
          </div>
          
          <!-- <mat-list-item [ngClass]="{'unread' : !defect?.read_by_staff || !defect?.read_by_user}" *ngFor="let defect of defects" style="border: 1px solid #ddd;"> -->
          <mat-list-item [ngClass]="{'read' : defect?.read_by_staff || defect?.read_by_user}" *ngFor="let defect of defects" style="border: 1px solid #ddd; border-left: 5px solid #1F8476;">
           
            <a target="_blank" routerLink="/support/tickets/{{defect.id}}/defect">
              <mat-icon mat-list-icon class="list-icon">
                open_in_new
              </mat-icon>
            </a>

            <div mat-line class="list-title">
              <a routerLink="/support/tickets/{{defect.id}}/defect" class="list-title">
                {{defect.short_description}}
              </a>
            </div>
            <div mat-line class="list-sub" *ngIf="defect.get_created_by">{{defect?.priority}} • {{defect.get_created_by?.email}}</div>
            <div mat-line class="list-sub">updated {{defect.sys_updated_on | timesAgo}} • created {{defect.sys_created_on | timesAgo}} • <span style="color: #1F8476;"> {{defect.state}} </span></div>
        </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>