<!-- <p>tickets works!</p> -->
<div class="flex-wrapper">
  <div class="container">
    <br>
    <h3 style="color: #8dbcaa;">
      Requests
    </h3>
    <br>
    <div class="row">
      <div class="col-md-6">
        <mat-list>
          <div mat-subheader class="header">Features</div>
          <mat-list-item *ngFor="let feature of features" style="border: 1px solid #ddd;">
            <mat-icon mat-list-icon class="list-icon">open_in_new</mat-icon>
            <div mat-line class="list-title">{{feature.short_description}}</div>
            <div mat-line class="list-sub"> {{feature.sys_created_on | timesAgo}} • {{feature.state}} </div>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="col-md-6">
        <mat-list>
          <div mat-subheader class="header">Defects</div>
          <mat-list-item *ngFor="let defect of defects" style="border: 1px solid #ddd;">
            <mat-icon mat-list-icon class="list-icon">open_in_new</mat-icon>
            <div mat-line class="list-title">{{defect.short_description}}</div>
            <div mat-line class="list-sub"> {{defect.sys_created_on | timesAgo}} • {{defect.state}}</div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>