<div id="us-editor">
    <h2 mat-dialog-title style="color: #3C869A;">

        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item *ngFor="let feature of editorFeatures" (click)="selectFeature(feature?.id)"
                class="menu-item"> {{feature?.id}}. {{feature?.heading}}</button>
        </mat-menu>

        {{selectedFeature?.id}}. {{selectedFeature?.heading}}
        <button style="float: right" class="primary-button-inverted" *ngIf="editorFeatures" mat-button
            [matMenuTriggerFor]="menu">
            Index
            <mat-icon>
                arrow_drop_down
            </mat-icon>
        </button>


    </h2>
    <mat-dialog-content class="mat-typography">
        <div [innerHTML]="selectedFeature?.text" style="color: #4f9aab; padding-top: 5px;"></div>
        <br>
        <img [src]="selectedFeature?.imageUrl" style="max-width: 700px;" height="auto" width="100%"
            alt="selectedFeature?.heading">
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button class="primary-button" (click)="selectFeature(selectedFeature?.id-1)" style="float: left;">
            <mat-icon>arrow_left</mat-icon> Previous
        </button>
        <button mat-button class="primary-button" (click)="selectFeature(selectedFeature?.id+1)" style="margin-left: auto;">
            Next <mat-icon>arrow_right</mat-icon>
        </button>
    </mat-dialog-actions>

</div>