<p>attachments works!</p>
<div id="st-attachments">
<pre>
    {{attachments | json}}
    <div *ngFor="let image of attachments" class="support-images">
        <mat-card class="image-card">
            <mat-card-header style="padding: 10px;">
                <div mat-card-avatar class="image-div"
                    [ngStyle]="{'background-image': 'url(' + image.file.url + ')'}"
                    style="background-size: cover;">
                </div>
                <mat-card-title class="image-title">
                    <a class="image-title" href="{{image.file.real_url}}"
                        target="_blank">{{image.file.name}}</a>
                </mat-card-title>
                <mat-card-subtitle style="margin-bottom: 0px !important;">
                    <button mat-icon-button matTooltip="Rename the file to something meaningful!"
                        (click)="editAttachment(image.file.id, image.file.name)" class="image-icon">
                        <mat-icon class="image-icon" style="color: green;">
                            edit
                        </mat-icon>
                    </button>
                    <button mat-icon-button class="image-icon" matTooltip="delete this image"
                        (click)="deleteAttachment(image.file.id)">
                        <mat-icon class="image-icon">
                            delete_outline
                        </mat-icon>
                    </button>
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</pre>

</div>