<div id="st-attachments">
    <div class="attachment-section st-border wrapper">
        
        <span> Attached Images </span>
        <button mat-button style="outline: none; float: right;" [disabled]="uploadingImage" class="primary-button-inverted">
            <label for="file-upload" class="custom-file-upload" style="padding: 0px 10px; border-radius: 5px;">
                {{buttonText}}
            </label>
            <input id="file-upload" [disabled]="uploadingImage" multiple accept="image/png, image/jpeg" (change)="onImageChange($event)"
                type="file" />
        </button>
        <hr>
        <!-- <pre>
            {{attachments | json}}
        </pre> -->
        <div *ngIf="attachments?.length==0" style="font-size: 12px;">
            No attached Images!
        </div>
        <div *ngFor="let image of attachments" class="support-images">
            <mat-card class="image-card">
                <mat-card-header style="padding: 10px;">
                    <div mat-card-avatar class="image-div"
                        [ngStyle]="{'background-image': 'url(' + image.compressed + ')'}"
                        style="background-size: cover;">
                    </div>
                    <mat-card-title class="image-title">
                        <a class="image-title" href="{{image.real_image}}" target="_blank">{{image.image_caption}}</a>
                    </mat-card-title>
                    <mat-card-subtitle style="margin-bottom: 0px !important;">
                        <span>{{image.sys_created_on | timesAgo}}</span>
                        <button mat-icon-button matTooltip="Rename the file to something meaningful!"
                            (click)="editAttachment(image.id, image.image_caption)" class="image-icon">
                            <mat-icon class="image-icon" style="color: green;">
                                edit
                            </mat-icon>
                        </button>
                        <button mat-icon-button class="image-icon" matTooltip="delete this image"
                            (click)="deleteAttachment(image.id)">
                            <mat-icon class="image-icon">
                                delete_outline
                            </mat-icon>
                        </button>
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</div>