
<br>
Draft

<div *ngFor="let article of draft" [ngClass]="{'active' : article.id==selected_article_id}">
    <a routerLink="/path/article/{{article.id}}" class="list-article">
       - {{article.title}}
    </a>
</div>
<br>
Published
<div *ngFor="let article of published" [ngClass]="{'active' : article.id==selected_article_id}">
    <a routerLink="/path/article/{{article.id}}" class="list-article">
        - {{article.title}}
    </a>
</div>

<br>
Review
<div *ngFor="let article of review" [ngClass]="{'active' : article.id==selected_article_id}">
    <a routerLink="/path/article/{{article.id}}" class="list-article">
        - {{article.title}}
    </a>
</div>

