<button mat-button style="width: 100%;" class="primary-button" [matMenuTriggerFor]="rootmenu">
    Select root for question <mat-icon>arrow_drop_down</mat-icon>
</button>
<mat-menu #rootmenu="matMenu">
    <button *ngFor="let root of roots" [ngClass]="{'active' : root.id==selected_root}" class="menu-item" (click)="selectRoot(root.id)" mat-menu-item>
        {{root.title}}
    </button>
</mat-menu>

<br><br>

<button mat-button style="width: 100%;" class="primary-button" [matMenuTriggerFor]="menu">
    Select path for question <mat-icon>arrow_drop_down</mat-icon>
</button>

<mat-menu #menu="matMenu">
    <button class="menu-item" mat-menu-item *ngIf="paths.length==0" >
        No paths in this root
    </button>
    <button *ngFor="let path of paths" class="menu-item" [ngClass]="{'active' : path.id==selected_path}" (click)="selectedPath(path.id)" mat-menu-item>
        {{path.label}}
    </button>
</mat-menu>
<!-- <pre>
{{paths | json}}
</pre>

    <pre>
    {{roots | json}}
</pre> -->