<div id="st-ques-select">

    <!-- <span style="font-size: 12px; color: #3c869a;">Please select a root to ask question in so it can into attention of concerned community</span> -->
    <div class="row">
        <div class="col-md-6">
            <button mat-button style="width: 100%;" class="primary-button" [matMenuTriggerFor]="rootmenu">
                {{selected_root_label? "Root: "+selected_root_label : "Select root for question"}} <mat-icon>
                    arrow_drop_down</mat-icon>
            </button>
            <mat-menu #rootmenu="matMenu" xPosition="before">
                <button *ngFor="let root of roots" [ngClass]="{'active' : root.id==selected_root}" class="menu-item"
                    (click)="selectRoot(root.id)" mat-menu-item>
                    {{root.title}}
                </button>
            </mat-menu>

        </div>
        <div class="col-md-6">

            <button disabled mat-button *ngIf="paths?.length==0" style="width: 100%;" class="primary-button" [matMenuTriggerFor]="menu">
                No path in this root
            </button>
            

            <button *ngIf="paths?.length!=0" mat-button style="width: 100%;" class="primary-button" [matMenuTriggerFor]="menu">
                {{selected_path_label? "Path: "+selected_path_label : "Select path for question"}} <mat-icon>
                    arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button class="menu-item" mat-menu-item *ngIf="paths?.length==0">
                    No paths in this root
                </button>
                <button *ngFor="let path of paths" class="menu-item" [ngClass]="{'active' : path.id==selected_path}"
                    (click)="selectedPath(path.id)" mat-menu-item>
                    {{path.label}}
                </button>
            </mat-menu>
        </div>
    </div>

    <!-- <span style="font-size: 12px; color: #3c869a;">Please select a path to ask question in, so it can be further sourced</span> -->

    <!-- <pre>
{{paths | json}}
</pre>

    <pre>
    {{roots | json}}
</pre> -->
</div>