<mat-progress-bar *ngIf="dataLoading" color="warn" mode="indeterminate"></mat-progress-bar>
<mat-progress-bar *ngIf="!dataLoading" mode="determinate" value="100" color="accent"></mat-progress-bar>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8" style="padding: 0px;">
            <div id="uf-exploreroots">

                <div class="container-fluid" style="text-align: center;">
                    <!-- <div class="heading_div" style="margin: 0px -15px;"> -->
                    <div class="heading_text">
                        <br>
                        <h3 style="font-weight: 100px; color: #8dbcaa;">
                            Give us a hand by
                            giving feedback on the
                            material.
                        </h3>
                    </div>
                    <!-- </div> -->
                </div>
                <br><br>

                <div class="container-fluid">
                    <div class="row">
                        <h4 style="color: #425051;padding-left: 25px;">
                            <mat-icon matSuffix>
                                account_tree
                            </mat-icon>
                            Explore roots
                        </h4>
                        <br><br><br>
                    </div>

                    <div class="row" *ngIf="dataLoading">
                        <div class="col-lg-4 col-sm-6 col-12" *ngFor="let n of [1,2,3]">
                            <mat-card class="mat-card st-border">
                                <mat-card-header>
                                    <mat-card-title style="width: 120px; height: 18px; background-color: #f6f7f7;
                                    margin: 10px -16px">
                                    </mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <p style="width: 100%; height: 12px; background-color: #f6f7f7;">
                                    </p>
                                    <p style="width: 60%; height: 12px; background-color: #f6f7f7;">
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>

                    <div class="row" *ngIf="!dataLoading">
                        <div class="col-lg-4 col-sm-6 col-12" *ngFor="let product of products">
                            <a [routerLink]='["roots", product.id, "root", {view: "course"}]'>
                                <mat-card class="mat-card st-border">
                                    <mat-card-header>
                                        <mat-card-title class="mat-card-title-nm">{{product.title}}</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <p style="min-height: 40px;">
                                            {{product.description}}
                                        </p>
                                    </mat-card-content>
                                </mat-card>
                            </a>
                        </div>
                    </div>
                    <div class="row" *ngIf="isLoggedIn">

                        <!-- <div class="col-lg-4">
                            <app-continue-courses></app-continue-courses>
                        </div> -->
                        <div class="col-lg-4">
                            <app-recently-viewed></app-recently-viewed>
                        </div>
                        <div class="col-lg-4">
                            <app-bookmarked></app-bookmarked>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-4" *ngIf="isLoggedIn" style="padding: 20px; background-color: white;">
            <app-quotes></app-quotes>
        </div>

        <div class="col-md-4" *ngIf="!isLoggedIn" style="padding: 20px; background-color: white;">
            <app-quotes></app-quotes>
        </div>

    </div>
</div>