<!-- <p>exploreroots works!</p> -->
<!-- 
<div class="row" style="text-align: center;">
    <div class="col-xs-12">
        Please explore any of the following roots, we always keep adding content to meet your needs
    </div>
</div> -->
<div class="row" style="text-align: center;">
    <div class="col-xs-12" class="heading_div">
        <div class="heading_text">
            <h3 style="font-weight: 400px;">We're always improving. Give us a hand by giving feedback on our material.</h3>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-3" style="margin-bottom: 10px;" *ngFor="let product of products" >
        <div style="width: max-content;margin: auto;">
            <mat-card class="products-card" style="box-shadow: none; width: auto; margin: auto;">
                <div class="card_div" matRipple [matRippleColor]="myColor">
                    <div [ngStyle]="{'background-image': 'url(' + product.real_image + ')'}" class="image_div"></div>
                    <mat-card-content >
                        <p>
                            <b>{{product.title}}</b> <br>
                            {{product.description}}
                        </p>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
    </div>
</div>