
.fillspace {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

.comm-button{
    font-size: 14px; 
    color: #8dbcaa; 
    font-weight: 200;
    padding-left: 10px; 
    border-left: 2px solid #ddd; 
    margin-left: 10px; 
    outline: none;

    &:hover{
        cursor: pointer;
        // color: 
    }
}

