<div class="container-fluid" id="uf-article-new">
    <div class="row">
        <div class="col-md-4">
            <div class="text-options">
                Text Options(for the text selected):
                <br>
                <!-- <button mat-raised-button (click)="getTheWholeFuckingDom()">
                    <b>Get the dom </b>
                </button>  -->
                <button mat-raised-button (click)="makeBold()">
                    <b>B </b>
                </button> 
                <button mat-raised-button (click)="makeItalic()">
                    <i>I </i>
                </button>
                <button mat-raised-button (click)="makeHyperlink()">
                    <u>
                        <mat-icon matSuffix>insert_link</mat-icon>
                    </u>
                </button>
                <br>
                <br>
                <button mat-raised-button (click)="makeTitle()">
                    Title
                </button>
                <button mat-raised-button (click)="makeHighlight()">
                    HighLight
                </button>
                <br>
                <br>
                <button mat-raised-button (click)="makeNewSection()">
                    New Section
                </button>
                
            </div>

            <div class="image-button">
                <button mat-raised-button>
                    <label for="file-upload" class="custom-file-upload">
                        add image
                    </label>
                    <input id="file-upload" (change)="onImageChange($event)" type="file" />
                </button>
            </div>

            <form novalidate (ngSubmit)="addTitleElement()" [formGroup]="addTitle">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput type="email" id="text" formControlName="title" placeholder="Enter the title of the doc">
                </mat-form-field> <br>
            </form>
            <br>


            <form novalidate (ngSubmit)="addParagraphElement()" [formGroup]="addParagraph">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Add Paragraph</mat-label>
                    <textarea rows="10" cols="20" matInput formControlName="paragraph"></textarea>
                </mat-form-field> <br>
                <button class="uf-auth-right-button" mat-raised-button color="primary" type="submit">
                    <span>Add Paragraph</span>
                </button>
            </form>

        </div>
        <div class="col-md-8" id="article">
            <div [innerHTML]="article"></div>
            <br><br><br><br>
            {{article}}
        </div>
    </div>
</div>