<mat-progress-bar mode="query" color="primary" *ngIf="updatingData"></mat-progress-bar>
<mat-progress-bar mode="determinate" color="accent" value="100" *ngIf="!updatingData"></mat-progress-bar>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
            <div id="uf-breadcrumb" style="margin-top: 20px;">
                <div class="breadcrumb-pagination">


                    <div [ngClass]="{'completed' : state=='review' || state=='published', 'active': state =='draft'}"
                        matTooltip="The article is in draft mode!">
                        <mat-icon>edit</mat-icon>
                        <p>
                            Draft
                            <br>
                        </p>
                    </div>

                    <div [ngClass]="{'completed' : state=='published', 'active': state =='review'}"
                        matTooltip="The article has been sent for review! The moderators will be back with results">
                        <mat-icon>publish</mat-icon>
                        <p>Review <br>
                        </p>
                    </div>

                    <div [ngClass]="{'active': state =='published'}"
                        matTooltip="The article is published, any change will send it to draft mode!">
                        <mat-icon>published_with_changes</mat-icon>
                        <p>Published
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3">

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div id="uf-new-article" style="text-align: right; padding-top: 40px;">
                <button mat-button [disabled]="updatingData" color="primary" (click)="updateArticle(true)">
                    <span *ngIf="updatingData">
                        Saving....
                    </span>
                    <span *ngIf="!updatingData">
                        Save
                    </span>
                    <mat-icon>
                        save
                    </mat-icon>

                </button>
                <br> <br>
                <button mat-button color="accent" [disabled]='state=="review" || state=="publised"'
                    (click)="updateArticle(false)">
                    Send for review
                    <mat-icon>
                        rate_review
                    </mat-icon>
                </button>


                <br> <br>
                <a target="_blank" mat-button color="primary" routerLink="/courses/article_preview/{{id}}">
                    Preview the article
                    <mat-icon>open_in_new</mat-icon>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="editorjs">
            </div>
        </div>
        <div class="col-lg-3" style="padding-top: 40px;">
            <!-- Roots and Category mangement -->
            <div *ngIf="article?.data.get_category.category_label == 'Testing'" style="color: green">
                Currently this article is not part of any path, please add this article to the path by clicking the
                button below
            </div>
            <div *ngIf="article?.data.get_category.category_label != 'Testing'">
                Currently the article is part of the path:
                <br>
                <a routerLink="/courses/{{article?.data.get_category.id}}/{{article?.data.id}}">
                    {{article?.data.get_category.category_label}}
                </a>
            </div>

            <!-- <pre>
                {{article| json}}
            </pre> -->
            <br><br>

            <button mat-button color="primary" (click)="addToCourse()">Add to the path</button>

        </div>
    </div>
</div>