<p align="end" style="margin-top: -20px;margin-right: -1rem;margin-bottom: 0px;">
    <mat-icon mat-dialog-close matSuffix>
        close
    </mat-icon>
</p>
<!-- <h4 mat-dialog-title>Edit user data:</h4> -->
<mat-dialog-content>
    <div *ngIf="!jobDone">
        <br>
        <form (ngSubmit)="editUserDetail()" [formGroup]="userProfileEditForm">

            <mat-form-field appearance="legacy" class="edit-form">
                <mat-label>First Name</mat-label>
                <input matInput type="email" formControlName="first_name">
                <mat-error>First name required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy" class="edit-form">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="last_name">
            </mat-form-field>

            <mat-form-field appearance="legacy" style="width: 100%; padding: 0px 10px;">
                <mat-label>About</mat-label>
                <textarea rows="2" matInput formControlName="about"></textarea>
            </mat-form-field>
            <label style="padding-left: 10px;"><input type="checkbox" formControlName="public"> Public Profile </label>
            <br><br>
                Social: 
            <br>

            <mat-form-field appearance="legacy" class="edit-form">
                <mat-label>Facebook Link</mat-label>
                <input matInput type="email" formControlName="facebook_link">
            </mat-form-field>
            <mat-form-field appearance="legacy" class="edit-form">
                <mat-label>Instagram Link</mat-label>
                <input matInput type="text" formControlName="instagram_link">
            </mat-form-field>
            <mat-form-field appearance="legacy" class="edit-form">
                <mat-label>Linkedin Link</mat-label>
                <input matInput type="email" formControlName="linkedin_link">
            </mat-form-field>
            <mat-form-field appearance="legacy" class="edit-form">
                <mat-label>Twitter Link</mat-label>
                <input matInput type="text" formControlName="twitter_link">
            </mat-form-field>

            <mat-form-field appearance="legacy" class="edit-form">
                <mat-label>External Website Link</mat-label>
                <input matInput type="text" formControlName="external_link">
            </mat-form-field>
            <!-- <mat-progress-bar mode="indeterminate" ></mat-progress-bar> -->
            <div class="uf-auth-buttons-div">
                <button style="float: right;" mat-raised-button color="primary" type="submit">
                    <span *ngIf="!isEditing">Update</span>
                    <span *ngIf="isEditing">Updating...</span>

                </button>
            </div>
        </form>
    </div>
    <!-- <pre>
{{userProfileEditForm.value['first_name']}} <br>
 {{userProfileEditForm.value['last_name']}} <br>
  {{userProfileEditForm.value['about']}}
  <br>
</pre> -->

    <div *ngIf="jobDone">
        <div style="text-align: center;">
            <mat-icon style="font-size: 80px; color: green;height: 80px; width: 80px;" matSuffix>
                done_all
            </mat-icon>
            <p>The user detail has been updated</p>
        </div>
    </div>

</mat-dialog-content>
