<!-- <p>browse-by-roots works!</p> -->
<mat-progress-bar mode="determinate" value="100" color="accent"></mat-progress-bar>

<div id="st-order-root" class="flex-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="comm-explore-roots">
                    <mat-accordion multi (click)="fetchData()">
                        <mat-expansion-panel  class="st-border">
                            <mat-expansion-panel-header >
                                <mat-panel-title>
                                    Select Root to order
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ng-template matExpansionPanelContent>
                                <div class="loader" *ngIf="loading" style="margin: 30px auto !important ;"></div>
                                <div *ngIf="!loading">
                                    <h3>Roots</h3>
                                    <div class="row">
                                        <a routerLink="/roots/path_order" [queryParams]="{root: root.id}"
                                            *ngFor="let root of roots?.bases" class="col-md-3">
                                            <div class="st-border card">
                                                <div class="title" style="font-size: 14px;">{{root?.title}}</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
        <br>
        <!-- Selected Root: {{paths.categories[0]?.get_parent_knowledgebase.label | json}} -->
        <br>
        <div class="row">
            
            <div class="col-md-6">
                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" *ngIf="paths?.categories.length!=0">
                    <div class="example-box" *ngFor="let path of paths?.categories" cdkDrag>
                        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                        {{path.label}} <br>
                        {{path.get_created_by.author}}
                        <br>
                    </div>
                </div>
                <div *ngIf="paths?.categories.length==0">
                    There are no paths in this root
                </div>  
            </div>
            <div class="col-md-3">
                <button mat-button class="primary-button-inverted" (click)="saveOrder()">Save order</button>
            </div>

        </div>
    </div>
</div>