<div id="uf-bookmarked">
    <p style="color: #425051;">Bookmarked Articles</p>
    <div class="row">
        <div class="col-12" *ngFor="let article of bookmarkedArticles.bookmarked_articles">

            <a routerLink="courses/{{article.get_article.course_id}}/{{article.article}}" class="anchor">
                {{article.get_article.title}}
            </a>

            <div style="font-size: 12px;text-align: left; color: #a4acad; padding-bottom: 10px;">
                {{article.get_article.kb_base_label}} / {{article.get_article.course_label}} <br>
            </div>


        </div>
    </div>
    <div style="text-align: right;">
        <button mat-button class="recently-viewed-all-button">
            View all
            <mat-icon style="font-size: 20px;">
                call_made
            </mat-icon>
        </button>

    </div>

    <!-- <pre>
      {{articles | json}}
  
      </pre> -->
</div>