/* You can add global styles to this file, and also import other style files */


  
.float-over{
    position: fixed !important;
    bottom: 10px !important;
    right: 10px !important;
    z-index: 1 !important;
}

@media (min-width: 768px){
    .float-over{
        position: fixed !important;
        bottom: 50px !important;
        right: 50px !important;
        z-index: 1 !important;
    }
    
}


html, body { height: 100%; }

body { margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;
    // background-color: var(--tertiary-color);
    background-color: #f9f9f97d !important;
    }

div:focus{
    outline: none;
    }

a:hover{
    text-decoration: none;
}

a:link { 
    text-decoration: none; 
} 

button{
    outline: none;
}

.landing-comp-heading{
    color: #425051;
}

.landing-title-color{
    color: #3c869a;

    &:hover{
        color: #3c869a;
    }
}

.landing-breadcrumb{
    font-size: 12px;text-align: left; color: #a4acad; padding-bottom: 10px;
}

.landing-view-all-button{
    color: #3c869a;
    // border: 2px solid #3c869a;
    border-radius: 0px;
    background-color: white;
    outline: none;

    &:hover{
        background-color: #3c869a;
        color: white;
    }
}

.uf-auth-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .uf-auth-form{
        margin: auto;
        width: 320px;
        padding-right: 10px;
        padding-left: 10px;


        .uf-auth-logo-space{
            padding: 12px 0px 14px;
            text-align: center;
        }
        .uf-auth-form-header{
            padding:  15px;
            text-align: center;
            color: #425051;
        }
        .uf-auth-form-body{
            // border: 1px solid rgba(0,0,0,.26);
            border: 1px solid rgba(201, 201, 204, 0.48);
            box-shadow: 0 1px 3px rgba(0,0,0, .1);
            border-radius: 5px;
            // border-radius: 5px;
            padding: 15px;
            background-color: white;


            .uf-auth-info-block{
                text-align: center;
                .uf-auth-icon{
                    margin: 0px 8px;
                    font-size: 80px;
                    height: 80px;
                    width: 80px;
                    background-color: white;

                }
            }
            .uf-googlelogin{
                width: 100%;
                text-align: center;
                padding-top: 5px;
                margin-bottom: 10px;
                border: 1px solid #425051 !important;
                // border-color: rgb(170, 170, 170);
                cursor: pointer;
                color: #425051;
            }
            .uf-auth-or{
                width: 100%;
                text-align: center;
            }
            .uf-auth-input-block{
                display: block;
                width: 100%;
                color: #425051;

            }
            .uf-auth-buttons-div{
                padding: 5px; 
                height:30px;
                .uf-auth-left-button{
                    display: block;
                    float: left;
                    color: #3a899d;
                    
                }
                .uf-auth-right-button{
                    display: block;
                    float: right;
                }
            }
        }
        .uf-auth-form-footer{
            border: 1px solid rgba(201, 201, 204, 0.48);
            box-shadow: 0 1px 3px rgba(0,0,0, .1);
            border-radius: 5px;
            font-size: 12px;
            // border-radius: 5px;
            padding: 10px;
            text-align: center;
            background-color: white;
            color: #425051;
        }
    }

}

.uf-landing-wrapper{
    margin: 0 5px 0 5px;;
    background-color: f9f8f8 ;
}

@media (min-width: 480px) {
    .uf-landing-wrapper{
        margin: 10px 20px 0 20px;
    }
 }

 @media (min-width: 768px) {
    .uf-landing-wrapper{
        margin: 10px 80px 0px 80px;
    }
 }


 @media (min-width: 1024px) {
    .uf-landing-wrapper{
        margin: 10px 160px 0px 160px;
    }
 }



:root 
{
    --primary-color: #293e40;
    --secondary-color: #3e5153;
    --tertiary-color: #516264;
    --text-color: #a9b0b0;
    --button-color: #39866e;
}

.uf-button{
    outline: none;
}


.primary-button{
    color: #3c869a;
    border: 1px solid #3c869a !important;
    // border-radius: 0px !important;
    background-color: white;
    outline: none !important;
    
    &:hover{
      background-color: #3c869a;
      color: white;
    }
}


.primary-button-inverted{
    background-color: #3c869a;
    color: white;
    border: 1px solid #3c869a !important;
    // border-radius: 0px !important;
    outline: none !important;
    
    &:hover{
        background-color: white;
        color: #3c869a;
    }
}

.st-menu{
    height: 25px !important;
    line-height: 25px !important;
}

.st-border{
    box-shadow: inset 0 1px 2px 0 rgba(35, 44, 72, 0.06) !important;
    border-radius: 3px !important;
    border: 1px solid rgba(201, 201, 204, 0.48) !important;
}

.primary-text-color{
    color: #1F8476;
}   

.primary-text-color-sub{
    color: rgba(0,0,0,.54);
}

.support-page{
    padding: 20px;
    // margin: 15px;

    .heading{
        font-weight: 200;
    }

    .subheading{
        font-weight: 300;
        font-size: 14px;
    }

    .message{
        font-size: 14px;
        font-weight: 300;
    }

    .form{
        padding: 0px;
        
        .form-input-block{
            width: 100%;
        }
    }

    .attachments{
        padding: 10px;
    }

    // .image-div{
        
    // }
}
.attachment-section{
    // padding: 10px;   
    .support-images{
        // padding: 0px 10px;

        .image-card{
            border: none !important;
            box-shadow: none;
            padding: 0px !important;
            background-color: #FCFCFC !important;
        }

        .image-div{
            height: 60px;
            width: 60px;
            border-radius: 2px !important; 
            // margin: 10px;
        }

        .image-title{
            color: #1F8476;
            font-weight: 200;
            font-size: 16px;
            margin-bottom: 0px;
        }

        .image-icon{
            font-size: 20px;
            color: #1F8476;
            outline: #1F8476;
        }

        // .image-subtitle{
        
        // }
        .attachment-input{
            width: 100%;
            outline-color: #1F8476;
        }

    }
}