<div id="uf-footer" class="container-fluid" *ngIf="showFooter" style="word-spacing: 2px ; ">

    <hr>

    <div class="row">
        <div class="col-md-8" style="color: #293e40; padding-top: 30px; padding-bottom: 30px;" *ngIf="!subscribed">

            <!-- <p style="font-size: 18px;"> <b> Subscribe to us via email </b> </p> -->
            <p> Get the latest updates</p>

            <form novalidate (ngSubmit)="subscribeViaMail()" [formGroup]="subscribeForm">
                <input matInput placeholder="Email" style="outline: none;" class="subscribe-form" formControlName="email">
                <button mat-button type="submit" class="subscribe-button" style="outline: none;">
                    Subscribe
                </button>
            </form>
            <span style="color: red; font-size: x-small;">{{error_message}}</span> 

        </div>

        <div class="col-md-8" style="color: #293e40; padding-top: 30px; padding-bottom: 30px;" *ngIf="subscribed" [innerHtml]="message">
        </div>


        <div class="col-md-4" style="color: #293e40;padding-top: 30px; padding-bottom: 30px;">
            <!-- <p>Social outreach</p> -->
            <!-- <button mat-button type="submit" class="subscribe-button">
                Sign up
            </button>
            <button mat-button type="submit" class="subscribe-button">
                Sign in
            </button> -->

            <p> Connect with us </p>
            <a href="" class="uf-social">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="" class="uf-social">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <!-- <a href="" class="uf-social">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a> -->
            <a href="" class="uf-social">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="" class="uf-social">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
            </a>

        </div>
    </div>

    <div class="row" style="background-color: #eeeeee; padding: 20px 0px;">
        <div class="col-md-12">
            2020
        </div>
    </div>
    
    
</div>