<div class="container-fluid" style="word-spacing: 2px;">
    <hr>
    <br><br>

    <div class="row">
        <div class="col-md-8" style="color: #293e40;">

            <p style="font-size: 18px;"> <b> Subscribe to us via email </b> </p>
            <p> We will send you latest articles via email</p>

            <form novalidate (ngSubmit)="subscribeViaMail()" [formGroup]="subscribeForm">

                <input matInput placeholder="Email" class="subscribe-form" formControlName="email">
                <button mat-button type="submit" class="subscribe-button">
                    Subscribe
                </button>
            </form>


        </div>

        <div class="col-md-4" style="color: #293e40;">
            <!-- <p>Social outreach</p> -->
            <p> Logo | Working to serve you better and clear the clutter</p>

            <p> Connect with us </p>
            <a href="" class="uf-social">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="" class="uf-social">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="" class="uf-social">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="" class="uf-social">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="" class="uf-social">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <br><br>
    <div class="row">
        <div class="col-md-12">
            Logo | Working to serve you better and clear the clutter
        </div>
    </div>
    <br><br>
</div>