<div style="text-align: center;">
    <h1 style="color: #293E40;">
        <!-- What matters  -->
        Why
    </h1>
    <span style="font-size: 26px; font-weight: 200;">
        
        <!-- In this disconnected, yet perceivingly connected world, things are getting harder than it has to be -->
        <!-- We want to be the change we want in the world -->
        <!-- Doing the best that we can with whatever we have, doing all that you can with all that you have is what counts -->
        <!-- We don't think that much -->
        <!-- What truly matters is to have a perspective towards life that makes you see that sometimes the biggest advantage
        you
        can ever have is being at a disadvantage and just go that extra mile with that burning desire and passion -->

        <!-- We are crazy enough that we just might do -->
        <!-- We don't leave any stone unturned in our pursuit <br> -->
        <!-- We want a change and are determined to bring the change ourselves -->
        <!-- <br> -->
        <!-- We have pursued crazy  -->
        <!-- Just rolling with the punches <br> -->
        <!-- The idea is crazy and it just might work -->
        <!-- We are taking it one day at a time -->
        <!-- There is something that has to change about learning -->
        <!-- We are passionate about learning, just want to make a way through the clutter of data  -->
        <!-- We are just bunch of people who want to change just something -->
        <!-- We have a crazy dream <br> -->
        <!-- We are just determined enough to work on it however crazy it may seem  -->
        <!-- We are the ones who would rather burn out than fade away     -->
        <!-- In a world driven entirely  -->
        <!-- We don't know who we are, we just know that we are passionate about what we do, we don't expect any reward, 
                    we are in it because it is just something that has to be done -->
        <br> <br>
        <!-- This idea came to us and we thought why not just go for it <br> -->
        <!-- We are just planting a seed and maybe it will grow to meet our expectations  -->
    </span>


    <!-- Who we are is none of your business! -->
</div>