<mat-progress-bar mode="determinate" color="accent" value="100"></mat-progress-bar>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-select-ques-path></app-select-ques-path>
        </div>
        <br><br>
        <div class="col-md-12">
            <button mat-button routerLink="/community" class="primary-button-inverted" style="margin-top: 10px;">
                <mat-icon>keyboard_backspace</mat-icon>
                Back
            </button>
            <br><br>
        </div>
        <div class="col-md-8">
            <mat-form-field appearance="legacy" style="width: 100%;">
                <mat-label>Question</mat-label>
                <input matInput placeholder="Placeholder" [(ngModel)]="question">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <mat-hint>Summary of what you wanna ask</mat-hint>
            </mat-form-field>
            {{question}}
            <br><br>
            <div>
                Please add some detail so the person can get the context and setting 
                <div id="editorjs">
                </div>
            </div>
            <div style="height: 60px; width: 100%;">
                <button mat-button class="primary-button-inverted" (click)="save()" style="float: right;">Submit</button>
            </div>
        </div>
        <div class="col-md-4">
            Instructions
        </div>
    </div>
</div>