<!-- <p>who-we-are works!</p> -->

<div class="wrapper container-fluid">
    <div class="row">
        <div class="col-sm-4">
            Logo
      </div >
        <div class="col-sm-8" style="background-color: #C1D9DE;">
            <br><br><br><br><br>
            <h1 style="color: #293E40;">
                <!-- We are just a bunch of dreamers, who have ridiculous dreams -->
                What we do
            </h1>
            <br>
            <div style='background-color: #293E40; padding: 10px; margin: 0px -15px;'>

                <span style="color: white; font-size: 26px; font-weight: 200; text-align: justify;">
                    <!-- The amount of data is increasing everyday. <br>
                    The need to create more content is redundant. <br>
                    The time right now is just to dig through the data that's already there. -->
                    <!-- In today's time, almost everything you need to learn is available for free or for very small cost  -->
                    <!-- We make the path for you which we followed, it's totally up to you to follow it or not, we just put things that worked really good for us <br> -->
                    <!-- We will just show you where to look, the rest is totally up to you -->
                    <!-- We don't think that much -->
                    <!-- We just have a ridiculous idea<br> -->
                    <!-- But it's worth following, so we are protecting and pursuing it <br> -->
                    <!-- We believe in just doing it, who knows, it may work or it may not <br> -->
                    <!-- We are crazy enough that we just might do -->
                    <!-- We don't leave any stone unturned in our pursuit <br> -->
                    <!-- We want a change and are determined to bring the change ourselves -->
                    <!-- <br> -->
                    <!-- We have pursued crazy  -->
                    <!-- Just rolling with the punches <br> -->
                    <!-- The idea is crazy and it just might work -->
                    <!-- We are taking it one day at a time -->
                    <!-- There is something that has to change about learning -->
                    <!-- We are passionate about learning, just want to make a way through the clutter of data  -->
                    <!-- We are just bunch of people who want to change just something -->
                    <!-- We have a crazy dream <br> -->
                    <!-- We are just determined enough to work on it however crazy it may seem  -->
                    <!-- We are the ones who would rather burn out than fade away     -->
                    <!-- In a world driven entirely  -->
                    <!-- We don't know who we are, we just know that we are passionate about what we do, we don't expect any reward, 
                    we are in it because it is just something that has to be done -->
                    <br> <br>
                    <!-- This idea came to us and we thought why not just go for it <br> -->
                    <!-- We are just planting a seed and maybe it will grow to meet our expectations  -->
                </span>

            </div>
  
        </div>
    </div>
    
</div>
<!-- Who we are is none of your business! -->